<?xml version='1.0' encoding='utf-8'?>
<widget id="net.wizardfactory.todayweather" version="1.1.0" android-versionCode="100090" ios-CFBundleVersion="1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TodayWeather</name>
    <description>
        Inform how warm or cold it is today than yesterday.
    </description>
    <author email="todayweather@wizardfactory.net" href="https://github.com/WizardFactory">
        WizardFactory TodayWeather Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="target-device" value="universal" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="1500" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="KeyboardResize" value="false" />
    <preference name="cordova.plugins.diagnostic.modules" value="LOCATION" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="36" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="tw.resources/android-launcher-icon.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <!-- cordova-android 15 paints the status bar area itself; StatusBar.backgroundColorByHexString('#111') in app.js no longer shows. -->
        <preference name="StatusBarBackgroundColor" value="#111111" />
        <icon density="ldpi" src="tw.resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="tw.resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="tw.resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="tw.resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="tw.resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="tw.resources/android/icon/drawable-xxxhdpi-icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <preference name="deployment-target" value="15.0" />
        <!-- App Store icons must not have an alpha channel; icon-1024.png has one. -->
        <icon src="tw.resources/icon.png" width="1024" height="1024" />
        <splash src="tw.resources/ios/splash/Default@2x~universal~anyany.png" />
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>TodayWeather uses your location to show the weather where you are.</string>
        </edit-config>
    </platform>
</widget>
