<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view title="Home" hide-nav-bar="true">
    <ion-content scroll="false" style="background-color: #22a1db; color: white">
        <ion-slide-box on-slide-changed="onSlideChanged(index)" style="height: 100%;">
            <ion-slide>
                <div class="guide-content" style="background-image: url(img/guide-01.png);">
                    <p ng-style="{'font-size': bigFont+'px'}">&nbsp;</p>
                    <p ng-style="{'font-size': bigFont+'px'}" class="guide-content-text">어제보다 오늘은</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">그래프로 한눈에 어제와 비교하세요</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">어제,오늘,내일,모레까지 비교해보세요</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="guide-content" style="background-image: url(img/guide-02.png);">
                    <p ng-style="{'font-size': bigFont+'px'}">&nbsp;</p>
                    <p ng-style="{'font-size': bigFont+'px'}" class="guide-content-text">지난주부터 다음 주까지</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">한 주의 변화를 확인하세요</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">지난 주말과 이번 주말도 비교해보세요</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="guide-content" style="background-image: url(img/guide-03.png);">
                    <p ng-style="{'font-size': bigFont+'px'}">&nbsp;</p>
                    <p ng-style="{'font-size': bigFont+'px'}" class="guide-content-text">중요한 것만</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">미세 먼지부터, 생활 지수까지</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">중요한 것만 보이도록 했어요</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="guide-content" style="background-image: url(img/guide-04.png);">
                    <p ng-style="{'font-size': bigFont+'px'}">&nbsp;</p>
                    <p ng-style="{'font-size': bigFont+'px'}" class="guide-content-text">즐겨찾기</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">자주 보는 도시를 즐겨찾기에 추가하세요</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">도시 별로도 한눈에 비교할 수 있어요</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="guide-content" style="background-image: url(img/guide-05.png);">
                    <p ng-style="{'font-size': bigFont+'px'}">&nbsp;</p>
                    <p ng-style="{'font-size': bigFont+'px'}" class="guide-content-text">손쉬운 이동</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">시간별,요일별,상세 날씨는</p>
                    <p ng-style="{'font-size': smallFont+'px'}" class="guide-content-text">간단히 화면만 클릭하면 이동됩니다</p>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="guide-pager">
            <span ng-click="onLeftClick()" class="guide-pager-left">{{leftText}}</span>
            <span ng-click="onRightClick()" class="guide-pager-right">{{rightText}}</span>
        </div>
    </ion-content>
</ion-view>