<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon"
                ng-class="isAndroid() ? 'ion-android-arrow-back' : 'ion-ios-arrow-back'" ng-click="onClose()">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <p class="title forecast-header">
            <span style="vertical-align: middle">{{'LOC_TYPE_SPECIAL_WEATHER'|translate}}</span>
        </p>
    </ion-nav-title>
    <ion-content zooming="false" scrollbar-x="false" scrollbar-y="false"
                 has-bouncing="false" style="background-color: #F5F5F5;">
        <div ng-if="specialList" class="item item-body" ng-repeat="special in specialList">
            <h2>{{special.name}} {{special.announcement}}</h2>
            <img src="{{special.imageUrl}}">
            <div ng-if="special.situationList" ng-repeat="situation in special.situationList">
                <b>{{situation.weatherStr}}{{situation.levelStr}}</b>
                <div ng-if="situation.info" ng-repeat="info in situation.info">
                    {{info.timeStr}} {{info.location}}
                </div>
                <br>
            </div>
            <div ng-if="special.type === 1 || special.type === 2">
                <b >{{'LOC_SPECIAL_WEATHER_NOTE'|translate}}</b>
                <br>
            </div>
            <span ng-bind-html="special.comment"></span>
        </div>
    </ion-content>
</ion-view>
