<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon"
                ng-class="isAndroid() ? 'ion-android-arrow-back' : 'ion-ios-arrow-back'" ng-click="onClose()">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <p class="title forecast-header">
            <span style="vertical-align: middle">{{getNationName()|translate}}</span>
        </p>
    </ion-nav-title>
    <ion-content zooming="false" scrollbar-x="false" scrollbar-y="false"
                 has-bouncing="false" style="background-color: #F5F5F5;">
        <ion-scroll direction="x" scrollbar-x="false">
            <div class="button-bar nation-air-label">
                <a class="item"
                   ng-class="name===airType?'item-dark':''"
                   ng-click="changeAirType(name)"
                   ng-repeat="name in airTypeList">
                    {{name.toUpperCase()}}
                </a>
            </div>
        </ion-scroll>
        <div class="nation" style="width: 330px; height: 485px;" ng-style="{'background-image':'url(./img/kr.png)'}">
            <div class="nation-label" ng-style="{'top': city.top+'px', 'left':city.left+'px', 'background': grade2Color(city.name)}"
                 ng-repeat="city in cityList">
                <div>{{city.name}}</div>
                <div>
                    <!--<img ng-if="getIcon(city.name) !== undefined" ng-src="{{::weatherImgPath}}/{{getIcon(city.name)}}.png">-->
                    <div ng-if="getText1(city.name) !== undefined">{{getText1(city.name)}}</div>
                    <!--<div ng-if="getText2(city.name) !== undefined">{{getText2(city.name)}}<span>{{getText2Unit()}}</span></div>-->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
