<ion-view title="Purchase" hide-nav-bar="true">
    <ion-content class="purchase-content" scroll="false" ng-if="accountLevel != 'premium'">
        <div style="margin-top: 72px;">
            <img class="item-center" width="96px" src="img/app-icon.png" style="margin-bottom: 16px">
            <div ng-style="::{'width':listWidth+'px'}" ng-if="product != undefined"
                 style="padding: 16px; border-width: 1px; border-color:#ddd; border-style: solid;">
                <h4 style="opacity: 0.87">{{product.description}}</h4>
                <button class="button button-outline button-positive item-center" ng-click="order()">
                    {{product.price}} 구매
                </button>
            </div>
            <div class="item item-button-right" ng-style="::{'width':listWidth+'px'}"
                 style="opacity: 0.56; background-color: inherit">
                유료앱도 곧 출시 예정입니다.
                <button class="button button-outline button-positive" disabled="true">구매</button>
            </div>
        </div>
        <div style="position: absolute; bottom: 16px; width: 100%" ng-if="product != undefined">
            <p style="padding-left: 16px; padding-right: 16px; text-align: center; opacity: 0.87"
                    >이미 {{product.title}} 사용자시라면, 구매내역 복원하세요.</p>
            <button class="button button-outline button-positive item-center" ng-click="restore()">
                구매내역 복원하기
            </button>
        </div>
    </ion-content>
    <ion-content class="purchase-content" scroll="false" ng-if="accountLevel == 'premium'">
        <div style="margin-top: 72px;">
            <img class="item-center" width="96px" src="img/app-icon.png">
            <div  ng-style="::{'width':listWidth+'px'}" style="padding: 16px;">
                <h4 style="opacity: 0.87; text-align: center">오늘날씨를 사용해주셔서 감사합니다</h4>
                <button class="button button-outline button-dark item-center" disabled="true" style="opacity: 0.84">
                    {{product.title}} 기간 : {{expirationDate}}
                </button>
            </div>
        </div>
        <div style="position: absolute; bottom: 16px; width: 100%" ng-if="showRenew == true">
            <button class="button button-outline button-positive item-center" style="opacity: 0.84" ng-click="order()">
                갱신
            </button>
        </div>
    </ion-content>
    <a class="button button-clear button-positive" style="position: absolute; top: 24px;" ng-click="goBack()">
        <i class="icon ion-chevron-left"></i>
    </a>
</ion-view>
