<ion-view title="Start" hide-nav-bar="true">
    <ion-content class="start-content" scroll="false" style="background-color: #fefefe;">
        <div style="margin-top: 24px;">
            <img class="item-center" width="96px" src="img/app-icon.png" style="margin-bottom: 16px">

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input id="searchInput" type="text" placeholder="{{'LOC_ENTER_CITY'|translate}}"
                           ng-model="search.word" ng-change="OnChangeSearchWord()">
                </label>
                <div class="item" style="white-space: normal; padding: 8px" ng-if="searchResults2 == undefined || searchResults2.length <= 0">
                    <button class="button button-outline button-positive" style="margin: 4px;"
                           ng-repeat="city in favoriteCityList" ng-click="OnGetWeather($index)" >
                      {{city.name}}
                    </button>
                </div>
                <div class="item" style="padding: 8px" ng-repeat="result in searchResults2" ng-click="OnSelectResult(result)">
                    <div class="row row-no-padding">
                        <div class="col">
                            <!--{{result.first}} {{result.second}} {{result.third}}-->
                            {{result.description}}
                        </div>
                    </div>
                </div>
                <div class="item item-divider" ng-if="searchResults2.length > 0">
                    <img src="img/powered_by_google_on_white.png" width="144px">
                </div>
            </div>

            <div class="list list-inset" ng-if="searchResults2 == undefined || searchResults2.length <= 0">
                    <button class="button button-outline button-positive item-center" ng-click="OnUseLocationService()">
                       {{'LOC_USE_YOUR_CURRENT_LOCATION'|translate}}
                    </button>
            </div>
        </div>
    </ion-content>
</ion-view>
