<ion-view hide-nav-bar="true">
    <ion-header-bar md-page-header on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" ng-style="{'height':headerHeight+'px'}">
        <div id="alphaBar" class="row row-no-padding" style="width: 100%; height: 100%; margin-top: 0px;" ng-style="{'background-color': viewColor}">
            <div class="cityArrow" ng-click="onSwipeRight()" ng-if="cityCount > 1">
                <span class="icon-left ion-chevron-left"></span>
            </div>
            <div id="bigInfoBox" class="topMainBox">
                <p id="cityInfo" class="textFont" ng-style="::{'font-size':regionSize+'px'}" style="margin: 8px 0">
                    <a ng-if="currentPosition" class="icon ion-ios-location-outline" style="color: white;"> </a>{{address}}
                </p>
                <div class="row row-no-padding"><div id="weatherInfo" style="margin: auto"> <div class="row row-no-padding">
                    <p id="pBigDigit" ng-style="::{'font-size':bigDigitSize+'px'}" style="margin: 0; font-weight:300">
                        {{currentWeather.t1h.toFixed(0)}}<span ng-if="currentWeather" ng-style="::{'font-size':bigDigitSize/2+'px'}" style="vertical-align: super;">˚</span>
                    </p>
                    <div style="text-align: left; margin: auto">
                        <img id="imgBigSkyStateSize" ng-style="::{'height':bigSkyStateSize+'px'}" ng-src="{{::imgPath}}/{{currentWeather.skyIcon}}.png">
                    </div>
                </div></div></div>
                <p id="summary" class="textFont" ng-style="::{'font-size':regionSumSize+'px'}" style="margin: 0;">{{summary}}
                </p>
            </div>
            <div class="cityArrow" ng-click="onSwipeLeft()" ng-if="cityCount > 1">
                <span class="icon-right ion-chevron-right"></span>
            </div>
        </div>
    </ion-header-bar>
    <ion-content id="ionContentBody" delegate-handle="body" direction="y" ng-style="{'bottom':contentBottom+'px'}"
                 overflow-scroll="true" on-scroll="headerScroll()" zooming="false" scrollbar-y="false"
                 scrollbar-x="false" has-bouncing="false" style="top: 0">
        <div id="contentBody">
            <div md-header-picture ng-style="{'height':headerHeight+'px'}"></div>
            <div class="main-content mid-forecast">
               <div class="col extend-content">
                    <ion-scroll delegate-handle="weeklyChart" direction="x" zooming="false" has-bouncing="false"
                                scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%">
                        <div class="col chartBox" style="margin: auto" ng-style="{'width':dayWidth +'px'}">
                            <div id="midTable" class="col table-content" ng-if="dayChart[0].values">
                                <div class="row row-no-padding" style="flex: 1; text-align: center; border-bottom: 1px solid rgba(254,254,254,0.5);">
                                    <div class="col table-items" ng-repeat="value in dayChart[0].values">
                                        <p class="body1" style="margin: 0;"
                                           ng-style="{'opacity': value.fromToday===0?'1':'0.84'}">{{dayToString(value.dayOfWeek)|translate}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div ng-mid-chart class="chart-content" ng-style="{'height':chartMidHeight+'px'}"></div>
                        </div>
                    </ion-scroll>

                   <div class="col" style="margin: 0;padding: 0">
                       <hr ng-if="hasDustForecast()" style="margin: 5px; border: 0; border-top:1px solid rgba(254,254,254,0.6);">
                       <p ng-if="hasDustForecast()" class="caption" style="margin: 5px;" translate="LOC_DAILY_AQI_FORECAST"></p>
                       <table style="width: 100%">
                           <tr ng-if="($index == 7 || $index == 8) && day.dustForecast"
                               ng-repeat="day in dayChart[0].values">
                               <td style="text-align: center; margin: auto">
                                   <p class="body1" style="margin: 0 0 5px;">{{dayToFullString(day.dayOfWeek)|translate}}</p>
                                   <p class="display1" style="margin: 0 0 2px; opacity: 0.84">{{day.date.substr(6,2)}}</p>
                                   <p class="body2" style="margin: 0 0 5px;">{{getDayString(day.fromToday)|translate}}</p>
                               </td>
                               <td style="text-align: center; margin: auto">
                                   <p class="body1" style="margin: 0 0 5px;" translate="LOC_PM10"></p>
                                   <div style="border-left: 1px rgba(254, 254, 254, .4) solid;">
                                       <img height="34px" ng-src="img/{{getSentimentIcon(day.dustForecast.pm10Grade)}}">
                                   </div>
                                   <div style="border-left: 1px rgba(254, 254, 254, .4) solid;">
                                       <p class="body2" ng-class="getGradeColor(day.dustForecast.pm10Grade)" style="margin: 0 0 5px;">{{getSentimentStr(day.dustForecast.pm10Grade)|translate}}</p>
                                   </div>
                               </td>
                               <td style="text-align: center; margin: auto">
                                   <p class="body1" style="margin: 0 0 5px;" translate="LOC_PM25"></p>
                                   <img height="34px" ng-src="img/{{getSentimentIcon(day.dustForecast.pm25Grade)}}">
                                   <p class="body2" ng-class="getGradeColor(day.dustForecast.pm25Grade)" style="margin: 0 0 5px;">{{getSentimentStr(day.dustForecast.pm25Grade)|translate}}</p>
                               </td>
                               <td style="text-align: center; margin: auto" ng-if="day.dustForecast.o3Grade != undefined">
                                   <p class="body1" style="margin: 0 0 5px;" translate="LOC_O3"></p>
                                   <img height="34px" ng-src="img/{{getSentimentIcon(day.dustForecast.o3Grade)}}">
                                   <p class="body2" ng-class="getGradeColor(day.dustForecast.o3Grade)" style="margin: 0 0 5px;">{{getSentimentStr(day.dustForecast.o3Grade)|translate}}</p>
                               </td>
                           </tr>
                       </table>
                       <hr ng-if="dayChart" style="margin: 5px; border: 0; border-top:1px solid rgba(254,254,254,0.6);">
                       <p ng-if="dayChart" class="caption" style="margin: 5px 5px 0 5px;" translate="LOC_DETAIL_WEATHER"></p>
                       <ion-scroll delegate-handle="weeklyTable" direction="x" zooming="false" has-bouncing="false"
                                   scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%">
                           <div class="row" style="margin: auto;">
                               <div style="margin: 0 auto; min-width: 132px" ng-if="checkDailyDetailWeather(day)" ng-repeat="day in dayChart[0].values">
                                   <div class="row" style="margin: 0">
                                       <a class="icon ion-calendar" style="color: white; margin: 0 12px; min-width: 90px"> {{convertMMDD(day.date)}} {{day.fromToday==0?getDayString(day.fromToday):dayToString(day.dayOfWeek)|translate}}</a>
                                   </div>
                                   <div class="row" style="margin: 0" ng-if="day.reh">
                                       <img ng-src="img/Humidity-{{day.reh?day.reh - day.reh%10:'00'}}.png" style="height: 24px; margin: auto 0;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;">{{day.reh}}<small>%</small></p>
                                           <span class="caption" translate="LOC_HUMIDITY"></span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="day.wsd">
                                       <img src="img/wind-and-cloud.svg" style="height: 22px; margin: auto 1px;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;">{{day.wsd}}<small>{{getWindSpdUnit()}}</small></p>
                                           <span class="caption" translate="LOC_WIND"></span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="hasPropertyInThreeDays(['pop'])">
                                       <img src="img/Umbrella.png" style="height: 24px; margin: auto 0;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;">{{day.pop}}<small>%</small></p>
                                           <span class="caption" translate="LOC_PROBABILITY_OF_PRECIPITATION"></span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="hasPropertyInThreeDays(['ultrvGrade'])">
                                       <img src="img/Ultrv.png" style="height: 24px; margin: auto 0;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" ng-class="getGradeColor(day.ultrvGrade)" style="margin: 0;">{{getLowHighGradeStr(day.ultrvGrade)|translate}}</p>
                                           <span class="caption" translate="LOC_UV"></span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="day.fsnGrade != undefined">
                                       <img src="img/fish.svg" style="height: 20px; margin: auto 2px;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;" ng-class="getGradeColor(day.fsnGrade)">{{getAttentionWarningGradeStr(day.fsnGrade)|translate}}</p>
                                           <span class="caption" translate="LOC_FOOD_POISONING"></span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="hasPropertyInThreeDays(['pty', 'rn1', 'r06', 's06'])">
                                       <img src="img/glass-with-water.svg" style="height: 20px; margin: auto 2px;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;">{{getRainSnowFall(day)}}<small>{{getPrecipUnit(day)}}</small></p>
                                           <span class="caption" ng-if="getRainSnowFallSymbol(day)=='snow'">{{'LOC_DAILY_SNOWFALL'|translate}}</span>
                                           <span class="caption" ng-if="getRainSnowFallSymbol(day)=='rain'">{{'LOC_DAILY_PRECIPITATION'|translate}}</span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </ion-scroll>
                   </div>
               </div>
            </div>
            <div ng-if="source == 'DSF'" style="width: 100%; text-align: center; background-color: rgba(0,0,0,0.05);">
                <img src="img/poweredby_darksky_darkbackground.png" width="160px" ng-click="openUrl('https://darksky.net/poweredby')">
            </div>
        </div>
    </ion-content>
</ion-view>
