<ion-view hide-nav-bar="true">
    <ion-content>
        <div class="main-content search">
            <div class="row row-no-padding" style="height: 5%;">
                <p class="top-time">
                    {{currentTimeString}}
                </p>
            </div>
            <div class="row" style="height: 5%"></div>
            <div class="row" style="height: 10%">
                <div class="col-10"></div>
                <div class="col-80">
                    <ul class="list">
                        <li class="item search-content">
                            <div class="row row-no-padding">
                                <div class="col col-20 bg-white">
                                    <img src="img/Search.png">
                                </div>
                                <div class="col col-60 item-input-inset">
                                    <input type="text" placeholder="도시명을 입력하세요" ng-model="$parent.searchWord"
                                           ng-change="changeSearchWord()">
                                </div>
                                <div class="col col-20 bg-white">
                                    <button class="button button-clear" ng-click="cancleSearchWord()">
                                        취소
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-10"></div>
            </div>
            <div class="row" style="height: 75%">
                <div class="col-10"></div>
                <ion-scroll class="col-80" zooming="false" direction="y" has-bouncing="false" scrollbar-y="false"
                            style="width: 100%; height: 100%">
                    <ul class="list" ng-show="searchWord!==undefined">
                        <li class="item city-content" ng-repeat="result in searchResults" ng-click="selectResult(result)">
                            <div class="row row-no-padding">
                                <div class="col">{{result.first}},{{result.second}},{{result.third}}</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list" ng-show="searchWord===undefined">
                        <li class="item city-content" ng-repeat="city in cityList" ng-click="selectCity(city)">
                            <div class="row row-no-padding">
                                <div class="col col-80">{{city.address}}</div>
                                <div class="col col-20"></div>
                                <!--<button class="button button-energized">-->
                                <!--<i class="ion-ios-download-outline"></i>-->
                                <!--</button>-->
                            </div>
                        </li>
                    </ul>
                </ion-scroll>
                <div class="col-10"></div>
            </div>
            <div class="row" style="height: 5%"></div>
        </div>
    </ion-content>
</ion-view>