<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <p class="title air-header">
            <span>{{address}}</span>
            <i class="material-icons" ng-if="currentPosition && showLoadingIndicator != true"
               ng-click="switchToLocationSettings()">{{isLocationEnabled()?'&#xE0C8;':'&#xE0C7;'}}</i>
            <ion-spinner ng-if="showLoadingIndicator" icon="bubbles"></ion-spinner>
        </p>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon"
                ng-class="hasPush?'ion-ios-bell':'ion-ios-bell-outline'"
                ng-if="!isAndroid()"
                ng-click="goPushPage()"
                style="padding: 0 4px"></button>
        <button class="button button-icon icon"
                ng-class="hasPush?'ion-android-notifications':'ion-android-notifications-none'"
                ng-if="isAndroid()"
                ng-click="goPushPage()"
                style="padding: 0 4px"></button>
        <button class="button button-icon icon ion-ios-upload-outline"
                ng-if="!isAndroid()"
                ng-click="doTabShare()"
                style="padding: 0 4px;margin-right: 4px"></button>
        <button class="button button-icon icon ion-android-share-alt"
                ng-if="isAndroid()"
                ng-click="doTabShare()"
                style="padding: 0 4px;margin-right: 4px"></button>
    </ion-nav-buttons>
    <ion-content delegate-handle="body" direction="y" zooming="false" scrollbar-x="false" scrollbar-y="false"
                 has-bouncing="false" tabs-shrink class="main-content">
        <div class="card">
            <div md-page-header on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" class="row row-no-padding"
                 ng-style="{'min-height':headerHeight+'px'}">
                <div class="main-box-arrow" ng-click="onSwipeRight()" ng-if="cityCount > 1">
                    <span class="icon-left ion-chevron-left"></span>
                </div>
                <div class="main-box" ng-if="airInfo">
                    <div class="main-box-air-title">
                        {{mainName|translate}}
                    </div>
                    <div class="main-box-air-content" ng-style="{'color': grade2Color(airCodeGrade), 'font-size': bigFontSize+'px'}">
                        {{mainInfo}}<span>{{getAirCodeUnit(aqiCode)}}</span>
                    </div>
                    <div class="main-box-air-summary">
                        {{airCodeStr}}
                        <i class="material-icons" ng-bind-html="getSentimentIcon(airCodeGrade)" ng-style="{'color': grade2Color(airCodeGrade)}"></i>
                        <span ng-if="airCodeActionGuide">{{airCodeActionGuide}}</span>
                    </div>
                    <div class="main-box-air-summary" style="display: inline-flex;" ng-click="goWeather()">
                        <div>
                            <img id="imgBigSkyStateSize" ng-src="{{::weatherImgPath}}/{{currentWeather.skyIcon}}.png">
                        </div>
                        <div>
                            {{currentWeather.weather}} {{currentWeather.t1h}}<span ng-if="currentWeather">˚</span>
                        </div>
                    </div>
                </div>
                <div class="main-box-arrow" ng-click="onSwipeLeft()" ng-if="cityCount > 1">
                    <span class="icon-right ion-chevron-right"></span>
                </div>
            </div>
            <div class="air-std-table">
                <div id="aqistd-label" class="air-label"
                     ng-style="{'left':getLabelPosition(airCodeGrade, airCodeValue)+'px'}">
                    <div class="outline"
                         ng-style="{'border-color': grade2Color(airCodeGrade, 'white'), 'color': grade2Color(airCodeGrade, 'white')}">
                        {{airCodeValue}}
                    </div>
                    <div class="line" ng-style="{'border-color': grade2Color(airCodeGrade, 'white')}"></div>
                </div>
                <div id="aqistd" class="air-std-box">
                    <div class="air-std" ng-repeat="obj in aqiStandard" ng-style="{'border-color': obj.color}">
                        <!--<div class="air-main-std-box" ng-style="{'background-color': obj.color }"></div>-->
                        <span>{{obj.str|translate}}</span><br>
                        <span ng-if="obj.value">~ {{obj.value[aqiCode]}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-if="airChart && airChart.data && airChart.data.length > 1">
            <div class="card-title">{{hourlyChartTitle|translate}} (beta)</div>
            <div id="chartScroll" class="chart-scroll">
                <div ng-air-chart class="chart-content" ng-style="{'height':chartAirHeight+'px'}"></div>
            </div>
        </div>
        <div class="card" ng-if="dayForecast && dayForecast.length">
            <div class="card-title">{{"LOC_DAILY_AQI_FORECAST"|translate}}</div>
            <table class="rowgroup-vspacing-aqi-box">
                <tr>
                    <td ng-repeat="day in dayForecast">
                        <p>{{convertDD(day.date)}} {{day.fromToday==0?getDayString(day.fromToday):dayToString(day.dayOfWeek)|translate}}</p>
                        <i ng-bind-html="getSentimentIcon(day.grade)" class="material-icons" ng-style="{'color': grade2Color(day.grade, 'white')}"></i><br>
                        <span ng-style="{'color': grade2Color(day.grade, 'white')}">{{day.str}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card" ng-if="aqiList.length > 1">
            <div class="card-title">{{"LOC_DETAIL_AQI"|translate}}</div>
            <div class="card-scroll">
                <table class="rowgroup-hspacing-box" ng-if="aqiList.length > 1">
                    <tr>
                        <td ng-repeat="obj in aqiList" ng-click="setMainAqiCode(obj.code)"
                            ng-class="{selected:obj.name===airCodeName}" style="min-width: 110px;">
                            <p>{{obj.name|translate}}</p>
                            <i ng-bind-html="getSentimentIcon(obj.grade)" class="material-icons" ng-style="{'color': grade2Color(obj.grade)}"></i><br>
                            <span ng-style="{'color': grade2Color(obj.grade)}">{{obj.value}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card" ng-if="airInfo && airInfo.dataTime">
            <table class="colgroup-box">
                <tr ng-if="airInfo.stationName">
                    <td>
                        <span>{{"LOC_STATION"|translate}}</span>
                    </td>
                    <td>
                        <i class="material-icons">&#xE55C</i>
                        <span>{{airInfo.stationName}}</span>
                    </td>
                </tr>
                <tr ng-if="airInfo.dataTime">
                    <td>
                        <span>{{"LOC_PUBLIC"|translate}}</span>
                    </td>
                    <td>
                        <i class="material-icons">&#xE192;</i>
                        <span>{{airInfo.dataTime}}</span>
                    </td>
                </tr>
                <tr ng-click="goUnitsPage()">
                    <td>
                        <span>{{"LOC_AIR_QUALITY_INDEX_UNIT"|translate}}</span>
                    </td>
                    <td>
                        <i class="material-icons">&#xE88F;</i>
                        <a>{{getCurrentAirUnitStr()|translate}} </a>
                    </td>
                </tr>
                <tr ng-if="forecastPubdate">
                    <td>
                        <span>{{"LOC_FORECAST"|translate}}</span>
                    </td>
                    <td>
                        <i class="material-icons">&#xE192;</i>
                        <span>{{forecastPubdate}}</span>
                    </td>
                </tr>
                <tr ng-if="forecastSource" ng-click="popUpAirForecastInfo(forecastSource)">
                    <td>
                        <span>{{"LOC_AIR_FORECAST_SOURCE"|translate}}</span>
                    </td>
                    <td>
                        <i class="material-icons">&#xE88F;</i>
                        <a>{{forecastSource.toUpperCase()}} </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card" ng-if="stnList">
            <div class="card-title">{{"LOC_STATION"|translate}} ({{airCodeName|translate}})</div>
            <div class="card-scroll">
                <table class="rowgroup-hspacing-box">
                    <tr>
                        <td ng-repeat="last in stnList" ng-class="{selected:$index===stnIndex}"
                            ng-click="setStation($index)" style="width: 110px;">
                            <p>{{last.stationName}}</p>
                            <i ng-bind-html="getSentimentIcon(last.grade)" class="material-icons" ng-style="{'color': grade2Color(last.grade)}"></i><br>
                            <span ng-style="{'color': grade2Color(last.grade)}">{{aqiCode==='aqi'?last.str:last.value}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>
