<ion-view hide-nav-bar="true">
    <ion-content>
        <div style="width: 100%; height: 100%; background-color: #22a1db; color: white">
            <div class="row" style="height: 10%; padding: 8px; padding-top: 11px; display: table">
                <div class="col col-center" style="display: table-cell; text-align: center; font-size: 26px; vertical-align: middle;
                                        background-color: white; opacity: 0.6; color: black;">
                    3시간뒤 비가 예상됩니다
                </div>
            </div>
            <div class="row" style="height: 39%;">
                <div class="col" style="height: 100%">
                    <div class="row" style="height: 21%;"></div>
                    <div class="row row-center row-no-padding" style="height: 16%; display: table">
                        <div class="col" style="text-align: center; font-size: 29px; height: 100%; display: table-cell; vertical-align: middle">
                            서울, 잠실본동
                        </div>
                    </div>
                    <div class="row" style="height: 60%;">
                        <div class="col" style="height: 100%">
                            <div class="row row-no-padding" style="height: 94%; display: table">
                                <div style="width: 61%; padding: 0; text-align: right; font-size: 134px; display: table-cell; vertical-align: middle">
                                    27
                                </div>
                                <div style="width: 39%; padding: 0; display: table-cell; vertical-align: middle">
                                    <div style="height: 14%"></div>
                                    <div class="row-no-padding"><img src="../img/reddot.png" width="21px"></div>
                                    <div style="height: 2%"></div>
                                    <div class="row-no-padding"><img src="../img/SunWithCloud.png" width="74px"></div>
                                </div>
                            </div>
                            <div style="height: 6%"></div>
                        </div>
                    </div>
                    <div class="row" style="height: 3%;"></div>
                </div>
            </div>
            <div class="row row-no-padding" style="height: 51%;">
                <ion-scroll zooming="false" direction="x" style="width: 100%; height: 100%">
                    <div class="col" style="padding: 0; height: 100%; width: 1290px">
                        <div class="row row-no-padding" style="height: 48%;">
                        </div>
                        <hr style="color: white; opacity: 0.6">
                        <div class="row row-no-padding" style="height: 48%;">
                            <div class="col" ng-repeat="value in timeTable" style="height: 100%;">
                                <div class="row row-no-padding" style="height: 20%; display: table">
                                    <div style="text-align: center; font-size: 15px; display: table-cell; vertical-align: middle">{{value.hour}}시</div>
                                </div>
                                <div class="row row-no-padding" style="height: 5%;">
                                </div>
                                <div class="row row-no-padding" style="height: 25%; display: table">
                                    <div style="display: table-cell; vertical-align: middle;"><img src="../img/Temp-05.png" width="28px" style="margin: 0 auto; display: block"></div>
                                </div>
                                <div class="row row-no-padding" style="height: 25%; display: table">
                                    <div style="text-align: center; font-size: 15px; display: table-cell; vertical-align: middle">{{value.temp}}˚</div>
                                </div>
                                <div class="row row-no-padding" style="height: 7%;">
                                </div>
                                <div class="row row-no-padding" style="height: 20%; display: table">
                                    <div style="display: table-cell; vertical-align: middle"><img src="../img/SunWithCloud.png" width="22px" style="margin: 0 auto; display: block"></div>
                                </div>
                                <div class="row row-no-padding" style="height: 20%; display: table">
                                    <div style="text-align: center; font-size: 15px; display: table-cell; vertical-align: middle">{{value.pop}}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-scroll>
            </div>
            <hr style="color: white; opacity: 0.6">
        </div>
    </ion-content>
</ion-view>
