<ion-view hide-nav-bar="true">
    <ion-header-bar md-page-header on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" ng-style="{'height':headerHeight+'px'}">
        <div id="alphaBar" class="row row-no-padding" style="width: 100%; height: 100%; margin-top: 0px;" ng-style="{'background-color': viewColor}">
            <div class="cityArrow" ng-click="onSwipeLeft()" ng-if="cityCount > 1">
                <span class="icon-left ion-chevron-left"></span>
            </div>

            <div id="bigInfoBox" class="topMainBox" ng-bind-html="topMainBox"></div>

            <div class="cityArrow" ng-click="onSwipeRight()" ng-if="cityCount > 1">
                <span class="icon-right ion-chevron-right"></span>
            </div>
        </div>
    </ion-header-bar>
    <ion-content id="ionContentBody" delegate-handle="body" direction="y" ng-style="{'bottom':contentBottom+'px'}"
                 overflow-scroll="true" on-scroll="headerScroll()" zooming="false" scrollbar-y="false"
                 scrollbar-x="false" has-bouncing="false" style="top: 0">
        <div id="contentBody">
            <div md-header-picture ng-style="{'height':headerHeight+'px'}"></div>
            <div class="main-content"
                 ng-class="{'short-forecast':forecastType==='short', 'mid-forecast':forecastType==='mid'}"
                 ng-click="changeForecastType('short')">
               <div class="col extend-content">
                    <ion-scroll delegate-handle="weeklyChart" direction="x" zooming="false" has-bouncing="false"
                                scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%">
                        <div class="col chartBox" style="margin: auto" ng-style="{'width':dayWidth +'px'}">
                            <div id="midTable" class="col table-content" ng-bind-html="midTable"></div>
                            <div ng-mid-chart class="chart-content" ng-style="{'height':chartMidHeight+'px'}"></div>
                        </div>
                    </ion-scroll>

                   <div class="col" style="margin: 0;padding: 0" ng-if="showDetailWeather">
                       <hr style="margin: 5px; border: 0; border-top:1px solid rgba(254,254,254,0.6);">
                       <div style="margin: auto">
                           <p class="caption" style="margin: 5px 5px 0 5px; letter-spacing: 5px">대기예보</p>
                           <div class="row" style="margin: auto;"
                                ng-if="($index == 7 || $index == 8) && day.dustForecast"
                                ng-repeat="day in dayChart[0].values">
                               <div class="col col-20" style="text-align: center" >
                                   <p class="body2" style="margin: 0 0 5px; letter-spacing: 0">{{day.week+"요일"}}</p>
                                   <p class="display1" style="margin: 0 0 5px; opacity: 0.84">{{day.date.substr(6,2)}}</p>
                                   <p class="body1" style="margin: 0 0 5px; letter-spacing: 0">{{day.fromTodayStr}}</p>
                               </div>
                               <div class="col" style="text-align: center;" >
                                   <p class="body2" style="margin: 0 0 5px; letter-spacing: 0">미세먼지</p>
                                   <div style="border-left: 1px rgba(254, 254, 254, .4) solid;">
                                       <img height="36px" ng-src="img/{{getSentimentIcon(day.dustForecast.PM10Grade+1)}}">
                                   </div>
                                   <div style="border-left: 1px rgba(254, 254, 254, .4) solid;">
                                       <p class="body1" ng-class="getGradeColor(day.dustForecast.PM10Grade+1)" style="margin: 0 0 5px;">{{day.dustForecast.PM10Str}}</p>
                                   </div>
                               </div>
                               <div class="col" style="text-align: center" >
                                   <p class="body2" style="margin: 0 0 5px; letter-spacing: 0">초미세먼지</p>
                                   <img height="36px" ng-src="img/{{getSentimentIcon(day.dustForecast.PM25Grade+1)}}">
                                   <p class="body1" ng-class="getGradeColor(day.dustForecast.PM25Grade+1)" style="margin: 0 0 5px;">{{day.dustForecast.PM25Str}}</p>
                               </div>
                               <div class="col" style="text-align: center" ng-if="day.dustForecast.O3Grade != undefined">
                                   <p class="body2" style="margin: 0 0 5px; letter-spacing: 0">오존</p>
                                   <img height="36px" ng-src="img/{{getSentimentIcon(day.dustForecast.O3Grade+1)}}">
                                   <p class="body1" ng-class="getGradeColor(day.dustForecast.O3Grade+1)" style="margin: 0 0 5px;">{{day.dustForecast.O3Str}}</p>
                               </div>
                           </div>
                       </div>
                       <hr style="margin: 5px; border: 0; border-top:1px solid rgba(254,254,254,0.6);">
                       <p class="caption" style="margin: 5px 5px 0 5px; letter-spacing: 5px">상세날씨</p>
                       <ion-scroll delegate-handle="weeklyTable" direction="x" zooming="false" has-bouncing="false"
                                   scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%">
                           <div class="row" style="margin: auto;">
                               <div style="margin: 0 auto; min-width: 120px" ng-if="$index == 6 || $index == 7 || $index == 8" ng-repeat="day in dayChart[0].values">
                                   <div class="row" style="margin: 0">
                                       <a class="icon ion-calendar" style="color: white; margin: 0 12px; min-width: 90px"> {{convertMMDD(day.date)}} {{day.fromTodayStr}}</a>
                                   </div>
                                   <div class="row" style="margin: 0" ng-if="day.reh">
                                       <img ng-src="img/Humidity-{{day.reh?day.reh - day.reh%10:'00'}}.png" style="height: 24px; margin: auto 0;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;">{{day.reh}}<small>%</small></p>
                                           <span class="caption">습도</span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="day.wsd">
                                       <img src="img/wind-and-cloud.svg" style="height: 22px; margin: auto 1px;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;">{{day.wsd}}<small>m/s</small></p>
                                           <span class="caption">바람</span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="dayChart[0].values[6].pop || dayChart[0].values[7].pop || dayChart[0].values[8].pop">
                                       <img src="img/Umbrella.png" style="height: 24px; margin: auto 0;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;">{{day.pop}}<small>%</small></p>
                                           <span class="caption">강수확률</span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="dayChart[0].values[6].ultrvStr || dayChart[0].values[7].ultrvStr || dayChart[0].values[8].ultrvStr">
                                       <img src="img/Ultrv.png" style="height: 24px; margin: auto 0;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" ng-class="getGradeColor(day.ultrvGrade)" style="margin: 0;">{{day.ultrvStr}}</p>
                                           <span class="caption">자외선</span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="day.fsnStr">
                                       <img src="img/fish.svg" style="height: 20px; margin: auto 2px;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;" ng-class="getGradeColor(day.fsnGrade)">{{day.fsnStr}}</p>
                                           <span class="caption">식중독</span>
                                       </div>
                                   </div>
                                   <div class="row subheading" style="margin: 0" ng-if="haveRainSnowFall(dayChart[0].values[6]) || haveRainSnowFall(dayChart[0].values[7]) || haveRainSnowFall(dayChart[0].values[8])">
                                       <img src="img/glass-with-water.svg" style="height: 20px; margin: auto 2px;">
                                       <div style="margin: auto 8px">
                                           <p class="subheading" style="margin: 0;">{{getRainSnowFall(day)}}<small>{{getRainSnowFallSymbol(day)}}</small></p>
                                           <span class="caption">{{getRainSnowFallSymbol(day)=="cm"?"적설량":"강수량"}}</span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </ion-scroll>
                   </div>
               </div>
            </div>
        </div>
    </ion-content>
</ion-view>
