<ion-view hide-nav-bar="{{runAdmob}}">
    <ion-content scroll="false">
        <div class="main-content search">
            <div class="list list-inset" style="background-color: transparent;">
                <div class="item row" style="background-color: inherit;">
                    <div class="search-icon" style="width: 32px;">
                        <img  src="img/Search.png">
                    </div>
                    <div class="search-content" style="width: 82%; margin-left: 5%">
                        <input type="text" placeholder="도시명을 입력하세요" ng-model="$parent.searchWord"
                               style="line-height: normal" ng-change="OnChangeSearchWord()">
                    </div>
                </div>
            </div>
            <ion-scroll class="city-list" zooming="false" direction="y" has-bouncing="false" scrollbar-y="false"
                        delegate-handle="cityList" on-scroll="OnScrollResults()">
                <div class="list list-inset" style="background-color: transparent; margin-bottom: 10px; margin-top: 10px;" ng-show="searchWord!==undefined">
                    <div class="item" style="background-color: inherit;" ng-repeat="result in searchResults" ng-click="OnSelectResult(result)">
                        <div class="row">
                            <div class="col search-content" style="text-align: left;"><p>{{result.first}} {{result.second}} {{result.third}}</p></div>
                        </div>
                    </div>
                </div>
                <div class="list list-inset" style="background-color: transparent; margin-bottom: 10px; margin-top: 10px;" ng-show="searchWord===undefined">
                    <div class="item" style="background-color: inherit;" ng-repeat="city in cityList"
                         ng-click="OnSelectCity($index)" on-swipe-left="OnSwipeCity(city)" on-swipe-right="OnSwipeCity(city)">
                        <div class="row row-no-padding">
                            <div class="col search-content" style="text-align: left; width: 40%;">
                                <p>{{city.address[0]}}<br>{{city.address[1]}}
                                    <a class="icon ion-ios-location-outline" style="color: white;" ng-if="city.currentPosition"></a>
                                </p>
                            </div>
                            <div class="col search-content" style="width: 20%"><img style="width: 48px" src="img/{{city.skyIcon}}-Big.png"></div>
                            <div class="col search-content" style="width: 40%;" ng-show="city.delete===false"><p class="search-digit">{{city.t1h}}˚<br><span style="font-size: 16px; font-family: inherit">{{city.tmn}}˚/{{city.tmx}}˚</span></p>
                            </div>
                            <button class="button button-energized" style="width: 40%; font-size:20px; font-family: 'Bareun Dotum Pro 1'"
                                    ng-show="city.delete===true" ng-click="OnDeleteCity($index)">삭제
                            </button>
                        </div>
                    </div>
                </div>
                <div style="text-align: center" ng-show="searchWord===undefined">삭제하고 싶은 지역은 왼쪽으로 밀어주세요.</div>
            </ion-scroll>
        </div>
        <ion-spinner icon="lines" class="spinner-light" style="position: absolute; top: 50%; left: 50%"
                     ng-show="isLoading===true"/>
    </ion-content>
</ion-view>