<ion-view hide-nav-bar="true">
    <!--<ion-header-bar md-page-header on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" style="background-image:url(img/cloudy-pic.jpg)">-->
    <ion-header-bar md-page-header on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" >
        <div id="alphaBar" class="row row-no-padding" style="width: 100%; height: 100%; margin-top: 0px;" ng-style="{'background-color': viewColor}">
            <div class="cityArrow" ng-click="onSwipeLeft()">
                <span class="icon-left ion-chevron-left"></span>
            </div>

            <div id="bigInfoBox" class="topMainBox" ng-bind-html="topMainBox"></div>

            <div class="cityArrow" ng-click="onSwipeRight()">
                <span class="icon-right ion-chevron-right"></span>
            </div>
        </div>
    </ion-header-bar>
    <ion-content id="ionContentBody" delegate-handle="body" direction="y" ng-style="{'bottom':contentBottom+'px'}"
                 overflow-scroll="true" on-scroll="headerScroll()" zooming="false" scrollbar-y="false"
                 scrollbar-x="false" has-bouncing="false" style="top: 0px">
        <div id="contentBody">
            <div md-header-picture></div>

            <div class="main-content"
                 ng-class="{'short-forecast':forecastType==='short', 'mid-forecast':forecastType==='mid', 'detail-forecast':forecastType==='detail'}">
                <div class="col extend-content" ng-if="forecastType==='short'" ng-click="changeForecastType('mid')">
                    <ion-scroll delegate-handle="timeChart" direction="x" zooming="false" has-bouncing="false"
                                scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%">
                        <div class="col chartBox" style="margin: auto" ng-style="{'width':timeWidth +'px'}">
                            <div id="shortTable" class="col table-content" ng-bind-html="shortTable"></div>
                            <div ng-short-chart class="chart-content" ng-style="{'height':chartShortHeight+'px'}"></div>
                        </div>
                    </ion-scroll>

                    <hr style="margin: 0; border: 0; border-top:1px solid rgba(255,255,255,0.6);">

                    <div class="row" style="margin: auto">
                        <div style="margin: auto">
                            <div class="row subheading">
                                <img ng-src="img/Humidity-{{currentWeather.reh?currentWeather.reh - currentWeather.reh%10:'00'}}.png"
                                     style="height: 24px;">
                                <p style="margin: auto 8px;">습도 {{currentWeather.reh}}%</p>
                            </div>
                            <div class="row subheading">
                                <img src="img/wind-and-cloud.svg" style="height: 20px; margin: 0 2px">
                                <p style="margin: auto 8px">바람 {{currentWeather.wdd}} {{currentWeather.wsd}}m/s</p>
                            </div>
                            <div class="row subheading">
                                <img src="img/ic_visibility_white_24px.svg" style="height: 24px">
                                <p style="margin: auto 8px">가시거리 {{currentWeather.visibility}}km</p>
                            </div>
                            <div class="row subheading">
                                <img src="img/ic_vertical_align_bottom_white_24px.svg" style="height: 24px">
                                <p style="margin: auto 8px">기압 {{currentWeather.hPa}}hPa</p>
                            </div>
                            <div class="row subheading" ng-if="currentWeather.dspls && currentWeather.dspls > 60">
                                <img src="img/angry.svg" style="height: 20px; margin: 0 2px">
                                <p style="margin: auto 8px">불쾌지수 {{currentWeather.dsplsStr}}</p>
                            </div>
                            <div class="row subheading" ng-if="currentWeather.sensorytem">
                                <img src="img/ic_person_outline_white_24px.svg" style="height: 24px">
                                <p style="margin: auto 8px">체감온도 {{currentWeather.sensorytem}}</p>
                            </div>
                            <div class="row subheading" ng-if="currentWeather.weather">
                                <img ng-src="{{::imgPath}}/{{currentWeather.skyIcon}}.png" style="height: 24px">
                                <p style="margin: auto 8px">날씨 {{currentWeather.weather}}</p>
                            </div>
                            <div class="row subheading" ng-if="currentWeather.rn1 != undefined">
                                <img src="img/glass-with-water.svg" style="height: 20px; margin: 0 2px">
                                <p style="margin: auto 8px">강수량 {{currentWeather.rn1}}mm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col extend-content" ng-if="forecastType==='mid'" ng-click="changeForecastType('detail')">
                    <ion-scroll delegate-handle="weeklyChart" direction="x" zooming="false" has-bouncing="false"
                                scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%">
                        <div class="col chartBox" style="margin: auto" ng-style="{'width':dayWidth +'px'}">
                            <div id="midTable" class="col table-content" ng-bind-html="midTable"></div>
                            <div ng-mid-chart class="chart-content" ng-style="{'height':chartMidHeight+'px'}"></div>
                        </div>
                    </ion-scroll>
                    <hr style="margin: 5px; border: 0; border-top:1px solid rgba(254,254,254,0.6);">
                    <ion-scroll delegate-handle="weeklyTable" direction="x" zooming="false" has-bouncing="false"
                                scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%">
                        <div class="row" style="margin: auto;">
                            <div style="margin: 0 auto; min-width: 120px" ng-if="$index == 6 || $index == 7 || $index == 8" ng-repeat="day in dayChart[0].values">
                                <div class="row" style="margin: 0">
                                    <a class="icon ion-calendar" style="color: white; margin: 0 12px"> {{convertMMDD(day.date)}}</a>
                                </div>
                                <div class="row" style="margin: 0" ng-if="day.reh">
                                    <img ng-src="img/Humidity-{{day.reh?day.reh - day.reh%10:'00'}}.png" style="height: 24px; margin: auto 0;">
                                    <div style="margin: auto 8px">
                                        <p class="subheading" style="margin: 0;">{{day.reh}}%</p>
                                        <span class="caption">습도</span>
                                    </div>
                                </div>
                                <div class="row subheading" style="margin: 0" ng-if="day.wsd">
                                    <img src="img/wind-and-cloud.svg" style="height: 22px; margin: auto 1px;">
                                    <div style="margin: auto 8px">
                                        <p class="subheading" style="margin: 0;">{{day.wsd}}m/s</p>
                                        <span class="caption">바람</span>
                                    </div>
                                </div>
                                <div class="row subheading" style="margin: 0" ng-if="day.pop">
                                    <img src="img/Umbrella.png" style="height: 24px; margin: auto 0;">
                                    <div style="margin: auto 8px">
                                        <p class="subheading" style="margin: 0;">{{day.pop}}%</p>
                                        <span class="caption">강수확률</span>
                                    </div>
                                </div>
                                <div class="row subheading" style="margin: 0" ng-if="day.rn1">
                                    <img src="img/glass-with-water.svg" style="height: 20px; margin: auto 2px;">
                                    <div style="margin: auto 8px">
                                        <p class="subheading" style="margin: 0;">{{day.rn1}}mm</p>
                                        <span class="caption">강수량</span>
                                    </div>
                                </div>
                                <div class="row subheading" style="margin: 0" ng-if="day.r06">
                                    <img src="img/glass-with-water.svg" style="height: 20px; margin: auto 2px;">
                                    <div style="margin: auto 8px">
                                        <p class="subheading" style="margin: 0;">{{day.r06}}mm</p>
                                        <span class="caption">강수량</span>
                                    </div>
                                </div>
                                <div class="row subheading" style="margin: 0" ng-if="day.s06">
                                    <img src="img/glass-with-water.svg" style="height: 20px; margin: auto 2px;">
                                    <div style="margin: auto 8px">
                                        <p class="subheading" style="margin: 0;">{{day.s06}}cm</p>
                                        <span class="caption">적설량</span>
                                    </div>
                                </div>
                                <div class="row subheading" style="margin: 0" ng-if="day.ultrvStr">
                                    <img src="img/Ultrv.png" style="height: 24px; margin: auto 0;">
                                    <div style="margin: auto 8px">
                                        <p class="subheading" style="margin: 0;">{{day.ultrvStr}}</p>
                                        <span class="caption">자외선</span>
                                    </div>
                                </div>
                                <div class="row subheading" style="margin: 0" ng-if="day.fsnStr">
                                    <img src="img/fish.svg" style="height: 20px; margin: auto 2px;">
                                    <div style="margin: auto 8px">
                                        <p class="subheading" style="margin: 0;">{{day.fsnStr}}</p>
                                        <span class="caption">식중독</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
                <div class="col extend-content" ng-if="forecastType==='detail'"
                     ng-click="changeForecastType('short')" style="width: 100%">
                    <div class="row row-no-padding">
                        <div class="col" style="text-align: center" >
                            <p class="title" style="margin: 0">CAI</p>
                            <p class="caption" style="margin: 0 0 5px;">대기질</p>
                            <img height="48px" ng-src="img/{{getSentimentIcon(currentWeather.arpltn.khaiGrade)}}">
                            <p class="body2" style="margin: 0 0 5px;">{{currentWeather.arpltn.khaiValue}}</p>
                        </div>
                        <div class="col" style="text-align: center" >
                            <p class="title" style="margin: 0">PM10</p>
                            <p class="caption" style="margin: 0 0 5px;">미세먼지</p>
                            <img height="48px" ng-src="img/{{getSentimentIcon(currentWeather.arpltn.pm10Grade)}}">
                            <p class="body2" style="margin: 0 0 5px;">{{currentWeather.arpltn.pm10Value}}<small style="letter-spacing: 0">㎍/㎥</small></p>
                        </div>
                        <div class="col" style="text-align: center" >
                            <p class="title" style="margin: 0;">PM2.5</p>
                            <p class="caption" style="margin: 0 0 5px;">초미세먼지</p>
                            <img height="48px" ng-src="img/{{getSentimentIcon(currentWeather.arpltn.pm25Grade)}}">
                            <p class="body2" style="margin: 0 0 5px;">{{currentWeather.arpltn.pm25Value}}<small style="letter-spacing: 0">㎍/㎥</small></p>
                        </div>
                    </div>
                    <hr style="margin: 5px; border: 0; border-top:1px solid rgba(254,254,254,0.6);">
                    <div style="margin: auto">
                        <p class="caption" style="margin: 5px 5px 0 5px; letter-spacing: 5px">예보</p>
                        <div class="row" style="padding-top: 0">
                            <!--<div style="margin:auto;"></div>-->
                            <div style="margin: auto;" ng-if="$index == 7 || $index == 8" ng-repeat="day in dayChart[0].values">
                                <a class="icon ion-calendar" style="color: white;letter-spacing: 5px;"> {{convertMMDD(day.date)}}</a>
                                <p class="subheading" style="margin: 0">PM10 {{day.dustForecast.PM10Str?day.dustForecast.PM10Str:"-"}}</p>
                                <p class="caption" style="margin: 0 0 5px;">미세먼지</p>
                                <p class="subheading" style="margin: 0">PM2.5 {{day.dustForecast.PM25Str?day.dustForecast.PM25Str:"-"}}</p>
                                <p class="caption" style="margin: 0 0 5px;">초미세먼지</p>
                                <p class="subheading" style="margin: 0">O3 {{day.dustForecast.O3Str?day.dustForecast.O3Str:"-"}}</p>
                                <p class="caption" style="margin: 0 0 5px;">오존</p>
                            </div>
                            <!--<div style="margin: auto;"></div>-->
                        </div>
                    </div>
                    <hr style="margin: 5px; border: 0; border-top:1px solid rgba(254,254,254,0.6);">
                    <div style="width: 100%">
                        <p class="caption" style="margin: 5px 5px 0 5px; letter-spacing: 5px">실시간</p>
                        <div class="row" style="padding-top: 0">
                            <div style="margin: auto">
                                <div class="subheading" style="padding: 2px">
                                    CAI <img ng-src="img/{{getSentimentIcon(currentWeather.arpltn.khaiGrade)}}" style="height: 24px; vertical-align: middle">
                                    {{currentWeather.arpltn.khaiStr}}<span class="caption" style="letter-spacing: 0"
                                                                           ng-if="currentWeather.arpltn.khaiValue != -1">({{currentWeather.arpltn.khaiValue}})</span>
                                </div>
                                <div class="subheading" style="padding: 2px">
                                    PM10 <img ng-src="img/{{getSentimentIcon(currentWeather.arpltn.pm10Grade)}}" style="height: 24px; vertical-align: middle">
                                    {{currentWeather.arpltn.pm10Str}}<span class="caption" style="letter-spacing: 0"
                                                                           ng-if="currentWeather.arpltn.pm10Value != -1">({{currentWeather.arpltn.pm10Value}}㎍/㎥{{currentWeather.arpltn.pm10StationName?" "+currentWeather.arpltn.pm10StationName:""}})</span>
                                </div>
                                <div class="subheading" style="padding: 2px">
                                    PM2.5 <img ng-src="img/{{getSentimentIcon(currentWeather.arpltn.pm25Grade)}}" style="height: 24px; vertical-align: middle">
                                    {{currentWeather.arpltn.pm25Str}}<span class="caption" style="letter-spacing: 0"
                                                                           ng-if="currentWeather.arpltn.pm25Value != -1">({{currentWeather.arpltn.pm25Value}}㎍/㎥{{currentWeather.arpltn.pm25StationName?" "+currentWeather.arpltn.pm25StationName:""}})</span>
                                </div>
                                <div class="subheading" style="padding: 2px">
                                    O3 <img ng-src="img/{{getSentimentIcon(currentWeather.arpltn.o3Grade)}}" style="height: 24px; vertical-align: middle">
                                    {{currentWeather.arpltn.o3Str}}<span class="caption" style="letter-spacing: 0"
                                                                         ng-if="currentWeather.arpltn.o3Value != -1">({{currentWeather.arpltn.o3Value}}ppm{{currentWeather.arpltn.o3StationName?" "+currentWeather.arpltn.o3StationName:""}})</span>
                                </div>
                                <div class="subheading" style="padding: 2px">
                                    SO2 <img ng-src="img/{{getSentimentIcon(currentWeather.arpltn.so2Grade)}}" style="height: 24px; vertical-align: middle">
                                    {{currentWeather.arpltn.so2Str}}<span class="caption" style="letter-spacing: 0"
                                                                          ng-if="currentWeather.arpltn.so2Value != -1">({{currentWeather.arpltn.so2Value}}ppm{{currentWeather.arpltn.so2StationName?" "+currentWeather.arpltn.so2StationName:""}})</span>
                                </div>
                                <div class="subheading" style="padding: 2px">
                                    CO <img ng-src="img/{{getSentimentIcon(currentWeather.arpltn.coGrade)}}" style="height: 24px; vertical-align: middle">
                                    {{currentWeather.arpltn.coStr}}<span class="caption" style="letter-spacing: 0"
                                                                         ng-if="currentWeather.arpltn.coValue != -1">({{currentWeather.arpltn.coValue}}ppm{{currentWeather.arpltn.coStationName?" "+currentWeather.arpltn.coStationName:""}})</span>
                                </div>
                                <div class="subheading" style="padding: 2px">
                                    NO2 <img ng-src="img/{{getSentimentIcon(currentWeather.arpltn.no2Grade)}}" style="height: 24px; vertical-align: middle">
                                    {{currentWeather.arpltn.no2Str}}<span class="caption" style="letter-spacing: 0"
                                                                          ng-if="currentWeather.arpltn.no2Value != -1">({{currentWeather.arpltn.no2Value}}ppm{{currentWeather.arpltn.coStationName?" "+currentWeather.arpltn.coStationName:""}})</span>
                                </div>
                                <div class="subheading" style="padding: 2px">
                                    측정소명 <span
                                        ng-if="currentWeather.arpltn.stationName">{{currentWeather.arpltn.stationName}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
