<ion-view hide-nav-bar="true">
    <ion-content scroll="true" zooming="false" direction="y" has-bouncing="false" scrollbar-y="false"
                 ng-style="{'bottom':contentHeight()+'px'}" style="color: white;" tabs-shrink>
        <div class="row" style="height: 10%"></div>
        <div class="row" style="height: 15%">
            <div class="col" style="height: 100%; text-align: center;">
                <h2 class="display1" style="color: inherit; opacity: 0.87" translate="LOC_TODAYWEATHER"></h2>
            </div>
        </div>
        <div class="row">
            <div style="margin: 0 auto; min-width: 80%">
                <ul class="list">
                    <!--<label class="item item-input item-select"  style="background-color: inherit; color: inherit">-->
                    <!--<div class="input-label" style="color: inherit">-->
                    <!--일간날씨-->
                    <!--</div>-->
                    <!--<select style="background-color: inherit; color: inherit">-->
                    <!--<option selected>내일까지 표시</option>-->
                    <!--<option>모레까지 표시</option>-->
                    <!--</select>-->
                    <!--</label>-->
                    <!--<label class="item item-input item-select" style="background-color: inherit; color: inherit">-->
                    <!--<div class="input-label" style="background-color: inherit; color: inherit">-->
                    <!--주간날씨-->
                    <!--</div>-->
                    <!--<select style="background-color: inherit; color: inherit">-->
                    <!--<option selected>7일까지 표시</option>-->
                    <!--<option>10일까지 표시</option>-->
                    <!--</select>-->
                    <!--</label>-->
                    <li class="item item-icon-right setting-title-light">
                        {{'LOC_VERSION'|translate}} <span class="item-note setting-title-light" style="color: inherit; font-size:20px">{{version}}</span>
                    </li>
                    <a class="item item-icon-right setting-title-light" href="#/units">
                        {{'LOC_UNITS'|translate}}
                        <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="font-size: 20px"></i>
                    </a>
                    <a class="item item-icon-right setting-title-light" href="#/guide">
                       {{'LOC_GUIDE'|translate}}
                        <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="font-size: 20px"></i>
                    </a>
                    <a class="item item-icon-right setting-title-light" href="#/purchase" ng-if="hasInAppPurchase()">
                        {{'LOC_REMOVE_ADS'|translate}}
                        <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="font-size: 20px"></i>
                    </a>
                    <a class="item item-icon-right setting-title-light" ng-click="sendMail()">
                        {{'LOC_SEND_FEEDBACK'|translate}}
                        <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="font-size: 20px"></i>
                    </a>
                    <li class="item item-icon-right setting-title-light" ng-click="openMarket()">
                        {{'LOC_RATE_THIS_APP'|translate}}
                        <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="font-size: 20px"></i>
                        <!--<img src="img/setting-review.png" style="width: 30px">-->
                    </li>
                    <li class="item item-icon-right setting-title-light" ng-if="showAbout()" ng-click="openInfo()">
                        {{'LOC_ABOUT'|translate}}
                        <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="font-size: 20px"></i>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
