<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-positive icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <p class="title search-header">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search"></i>
                <input id="searchInput" type="text" placeholder="{{'LOC_ENTER_CITY'|translate}}" ng-model="search.word"
                       ng-change="OnChangeSearchWord()" ng-focus="OnFocusInput()">
            </label>
            <button class="button button-icon button-positive" ng-click="OnEdit()"
                    ng-bind-html="isEditing ? 'LOC_OK' : isSearching ? 'LOC_CANCEL' : 'LOC_EDIT' | translate"></button>
        </p>
    </ion-nav-title>
    <ion-content class="search-content" zooming="false" direction="y" has-bouncing="false" scrollbar-y="false"
                 delegate-handle="cityList" on-scroll="OnScrollResults()" tabs-shrink>
        <div style="padding: 10px" ng-if="isSearching===true">
            <button class="button" ng-click="OnSearchCurrentPosition()">
                {{'LOC_FIND_BY_LOCATION'|translate}}
            </button>
        </div>
        <div class="list card" ng-if="isSearching===true&&(searchResults.length > 0 || searchResults2.length > 0)"
                style="margin-top: 0px;">
            <div class="item" ng-repeat="result in searchResults" ng-click="OnSelectResult(result)">
                <div class="row row-no-padding">
                    <div class="col search-item">
                        {{result.first}} {{result.second}} {{result.third}}
                    </div>
                </div>
            </div>
            <div class="item item-divider dark-text-secondary" ng-if="searchResults.length > 0">
                powered by TodayWeather
            </div>
            <div class="item" ng-repeat="result in searchResults2" ng-click="OnSelectResult(result)">
                <div class="row row-no-padding">
                    <div class="col search-item">
                        <!--{{result.first}} {{result.second}} {{result.third}}-->
                        {{result.description}}
                    </div>
                </div>
            </div>
            <div class="item item-divider" ng-if="searchResults2.length > 0">
                <img src="img/powered_by_google_on_white.png" width="144px">
            </div>
        </div>
        <div class="list card" ng-if="isSearching===false">
            <div class="item" ng-repeat="city in cityList" ng-hide="city.disable && !isEditing">
                <div class="row row-no-padding">
                    <div class="col search-item search-name" ng-class="{'col-40': city.t1h != '-'}" style="margin: auto 0;" ng-click="OnSelectCity($index)" >
                        <!--location_on-->
                        <i ng-if="city.currentPosition" class="material-icons">&#xE0C8;</i>{{city.address[0]}}<br ng-if="city.address[1]">{{city.address[1]}}
                    </div>
                    <div class="search-item" ng-if="city.t1h != '-'" style="margin: auto 0" ng-click="OnSelectCity($index)">
                        <img ng-src="{{::weatherImgPath}}/{{city.skyIcon}}.png">
                    </div>
                    <div class="search-item" ng-if="city.t1h != '-'" style="text-align: center;" ng-click="OnSelectCity($index)">
                        <span>{{city.t1h.toFixed(0)}}˚</span><br>
                        <span style="font-size: 12px;">{{city.tmn.toFixed(0)}}˚/{{city.tmx.toFixed(0)}}˚</span>
                    </div>
                    <div class="search-item last-item" ng-show="!isEditing" ng-click="OnOpenTimePicker($index)">
                        <a class="icon" ng-class="city.alarmInfo == undefined?'ion-android-notifications-none':'ion-android-notifications'"></a>
                    </div>
                    <div class="search-item last-item" ng-show="isEditing && city.currentPosition">
                        <label class="toggle toggle-search">
                            <input type="checkbox" ng-model="city.disable" ng-true-value="false" ng-false-value="true" ng-change="OnDisableCity()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div class="search-item last-item" ng-show="isEditing && !city.currentPosition" ng-click="OnDeleteCity($index)">
                        <a class="icon ion-ios-close-outline"></a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
