<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-dark" style="background-color: #22a1db" ng-style="{'background-color': viewColor}">
    <!-- Forecast Tab -->
    <ion-tab title="Forecast" icon-off="ion-ios-partlysunny-outline" icon-on="ion-ios-partlysunny-outline" href="#/tab/forecast">
        <ion-nav-view name="tab-forecast"></ion-nav-view>
    </ion-tab>

    <!-- Search Tab -->
    <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

    <!-- Setting Tab -->
    <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear-outline" href="#/tab/setting">
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>

</ion-tabs>
