<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-positive icon"
                ng-class="isAndroid() ? 'ion-android-arrow-back' : 'ion-ios-arrow-back'" ng-click="onClose()">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <p class="title">
            <span style="vertical-align: middle">{{'LOC_UNITS'|translate}}</span>
        </p>
    </ion-nav-title>
    <ion-content scroll="false" style="background-color: #F5F5F5;">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'LOC_TEMPERATURE_UNIT'|translate}}
                </div>
                <select ng-model="unit.temperatureUnit" ng-change="setUnit('temperatureUnit', unit.temperatureUnit)">
                    <option value="C">C</option>
                    <option value="F">F</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'LOC_WIND_SPEED_UNIT'|translate}}
                </div>
                <select ng-model="unit.windSpeedUnit" ng-change="setUnit('windSpeedUnit', unit.windSpeedUnit)">
                    <option value="mph">mph</option>
                    <option value="km/h">km/h</option>
                    <option value="m/s">m/s</option>
                    <option value="bft">beaufort</option>
                    <option value="kt">knotes</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'LOC_PRESSURE_UNIT'|translate}}
                </div>
                <select ng-model="unit.pressureUnit" ng-change="setUnit('pressureUnit', unit.pressureUnit)">
                    <option value="mmHg">mmHg</option>
                    <option value="inHg">inHg</option>
                    <option value="mb">mbar</option>
                    <option value="hPa">hPa</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'LOC_DISTANCE_UNIT'|translate}}
                </div>
                <select ng-model="unit.distanceUnit" ng-change="setUnit('distanceUnit', unit.distanceUnit)">
                    <option value="km">km</option>
                    <option value="mi">miles</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'LOC_PRECIPITATION'|translate}}
                </div>
                <select ng-model="unit.precipitationUnit" ng-change="setUnit('precipitationUnit', unit.precipitationUnit)">
                    <option value="mm">mm</option>
                    <option value="in">inch</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'LOC_AIR_QUALITY_INDEX_UNIT'|translate}}
                </div>
                <select ng-model="unit.airUnit" ng-change="setUnit('airUnit', unit.airUnit)">
                    <option value="airnow">{{getAirUnitStr('airnow')|translate}}</option>
                    <option value="aircn">{{getAirUnitStr('aircn')|translate}}</option>
                    <option value="airkorea">{{getAirUnitStr('airkorea')|translate}}</option>
                    <option value="airkorea_who">{{getAirUnitStr('airkorea_who')|translate}}</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>

