**
!package.json
!package-lock.json
!tsconfig.json
!packages/
!packages/weather-core/
!packages/weather-core/**
!web/
!web/**
!web-api/
!web-api/**
!scripts/
!scripts/**
**/node_modules
**/dist
**/.env*
