<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, viewport-fit=cover">
    <meta http-equiv="Content-Security-Policy">
    <title translate="LOC_TODAYWEATHER"></title>

    <!-- compiled css output -->
    <link href="css/ionic.app.min.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/angular-translate/angular-translate.min.js"></script>
    <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="lib/sprintf/dist/sprintf.min.js"></script>
    <script src="lib/oclazyload/dist/ocLazyLoad.min.js"></script>

    <!-- d3 chart -->
    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/ionic-timepicker/dist/ionic-timepicker.bundle.min.js"></script>
    <script src="lib/es6-promise/es6-promise.auto.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller.start.js"></script>
    <script src="js/controller.forecastctrl.js"></script>
    <script src="js/controller.guidectrl.js"></script>
    <script src="js/controller.searchctrl.js"></script>
    <script src="js/controller.settingctrl.js"></script>
    <script src="js/controller.tabctrl.js"></script>
    <script src="js/controller.purchase.js"></script>
    <script src="js/controller.watch.js"></script>
    <script src="js/service.twads.js"></script>
    <script src="js/service.weatherinfo.js"></script>
    <script src="js/service.weatherutil.js"></script>
    <script src="js/service.util.js"></script>
    <script src="js/service.run.js"></script>
    <script src="js/service.push.js"></script>
    <script src="tw.client.config.js"></script>
    <script src="data/town.js"></script>
    <script src="js/controller.units.js"></script>

    <script>
        document.addEventListener('deviceready', function() {
            angular.bootstrap(document, ['starter']);
        }, false);
    </script>
</head>
<body style="background-color: #03A9F4; line-height: normal;" ng-style="{'background-color': viewColor}">
<!--
  The nav bar that will be updated as we navigate between views.
-->
<!--<ion-nav-bar class="bar-dark" align-title="center">-->
<!--</ion-nav-bar>-->

<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->
<ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left" ng-controller="SettingCtrl" ng-class="isMenuOpen() ? 'menu-open' : ''" class="menu menu-left">
        <header class="bar bar-dark bar-header">
            <button class="button button-icon button-positive icon"
                    ng-class="isAndroid() ? 'ion-android-arrow-back' : 'ion-ios-arrow-back'" menu-toggle>
            </button>
            <h1 class="title">{{'LOC_TODAYWEATHER'|translate}}</h1>
        </header>
        <ion-content class="has-header menu-content">
            <div class="list">
                <a class="item item-borderless" menu-toggle href="#/units">
                    {{'LOC_UNITS'|translate}}
                    <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="float: right;"></i>
                </a>
                <a class="item item-borderless item-select">
                    {{'LOC_STARTUP_PAGE'|translate}}
                    <select class="item-note" ng-model="startupPage" ng-change="setStartupPage(startupPage)">
                        <option value="0">{{'LOC_HOURLY_FORECAST'|translate}}</option>
                        <option value="1">{{'LOC_DAILY_FORECAST'|translate}}</option>
                        <option value="2">{{'LOC_SAVED_LOCATIONS'|translate}}</option>
                    </select>
                </a>
                <a class="item item-borderless item-select">
                    {{'LOC_REFRESH_INTERVAL'|translate}}
                    <select class="item-note" ng-model="refreshInterval" ng-change="setRefreshInterval(refreshInterval)">
                        <option value="0">{{'LOC_MANUAL'|translate}}</option>
                        <option value="30">{{'LOC_30_MINUTES'|translate}}</option>
                        <option value="60">{{'LOC_1_HOUR'|translate}}</option>
                        <option value="180">{{'LOC_3_HOURS'|translate}}</option>
                        <option value="360">{{'LOC_6_HOURS'|translate}}</option>
                        <option value="720">{{'LOC_12_HOURS'|translate}}</option>
                    </select>
                </a>
                <a class="item item-borderless" menu-toggle href="#/purchase" ng-if="hasInAppPurchase()">
                    {{'LOC_REMOVE_ADS'|translate}}
                    <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="float: right;"></i>
                </a>
                <a class="item" menu-toggle ng-click="sendMail()">
                    {{'LOC_SEND_FEEDBACK'|translate}}
                    <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="float: right;"></i>
                </a>
                <a class="item item-borderless" menu-toggle ng-click="openMarket()">
                    {{'LOC_RATE_THIS_APP'|translate}}
                    <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="float: right;"></i>
                </a>
                <a class="item" href="#">
                    {{'LOC_VERSION'|translate}}
                    <span style="float: right;">{{version}}</span>
                </a>
                <a class="item item-borderless" menu-toggle href="#/guide">
                    {{'LOC_GUIDE'|translate}}
                    <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="float: right;"></i>
                </a>
                <a class="item item-borderless" ng-click="openInfo()" ng-if="showAbout()">
                    {{'LOC_ABOUT'|translate}}
                    <i class="icon ion-chevron-right" ng-if="!isAndroid()" style="float: right;"></i>
                </a>
            </div>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content drag-content="false" ng-class="isMenuOpen() ? 'menu-open' : ''">
        <ion-nav-bar></ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <!-- Right menu -->
    <!--<ion-side-menu side="right"></ion-side-menu>-->
</ion-side-menus>
</body>
</html>
