<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, viewport-fit=cover">
    <meta http-equiv="Content-Security-Policy">
    <title>{{title|translate}}</title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <link rel="stylesheet" href="lib/ion.rangeSlider/css/normalize.css" />
    <link rel="stylesheet" href="lib/ion.rangeSlider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="lib/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" />

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/angular-translate/angular-translate.min.js"></script>
    <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="lib/sprintf/dist/sprintf.min.js"></script>
    <script src="lib/oclazyload/dist/ocLazyLoad.min.js"></script>

    <!-- d3 chart -->
    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/ionic-timepicker/dist/ionic-timepicker.bundle.min.js"></script>

    <script src="lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="lib/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller.start.js"></script>
    <script src="js/controller.forecastctrl.js"></script>
    <script src="js/controller.guidectrl.js"></script>
    <script src="js/controller.searchctrl.js"></script>
    <script src="js/controller.settingctrl.js"></script>
    <script src="js/controller.tabctrl.js"></script>
    <script src="js/controller.purchase.js"></script>
    <script src="js/controller.units.js"></script>
    <script src="js/controller.nation.js"></script>
    <script src="js/controller.nation.air.js"></script>
    <script src="js/controller.setting.radio.js"></script>
    <script src="js/controller.air.js"></script>
    <script src="js/controller.push.js"></script>
    <script src="js/controller.kma.special.js"></script>

    <script src="js/service.twads.js"></script>
    <script src="js/service.admobclean.js"></script>
    <script src="js/service.admobpro.js"></script>
    <script src="js/service.weatherinfo.js"></script>
    <script src="js/service.weatherutil.js"></script>
    <script src="js/service.util.js"></script>
    <script src="js/service.push.js"></script>
    <script src="js/service.branch.js"></script>
    <script src="js/service.firebase.js"></script>

    <script src="js/service.storage.js"></script>
    <script src="client.config.js"></script>
    <script src="data/theme.js"></script>
    <script src="data/town.js"></script>
    <script src="data/update.info.js"></script>

    <script>
        document.addEventListener('deviceready', function() {
            angular.bootstrap(document, ['starter']);
        }, false);
    </script>
</head>
<body style="line-height: normal;" ng-class="[package, settingsInfo.theme+'-theme']">
<!--
  The nav bar that will be updated as we navigate between views.
-->
<!--<ion-nav-bar class="bar-dark" align-title="center">-->
<!--</ion-nav-bar>-->

<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->
<ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left" ng-controller="SettingCtrl" ng-class="isMenuOpen() ? 'menu-open' : ''" class="menu menu-left">
        <header class="bar bar-header bar-default">
            <button class="button button-icon icon"
                    ng-class="isAndroid() ? 'ion-android-arrow-back' : 'ion-ios-arrow-back'" menu-toggle>
            </button>
            <h1 class="title">{{title|translate}}</h1>
        </header>
        <ion-content class="has-header menu-content">
            <div class="list">
                <label class="item" ng-click="clickMenu('kma-special')" ng-if="getRegion() === 'KR'">
                    {{'LOC_TYPE_SPECIAL_WEATHER'|translate}}
                    <i class="icon ion-chevron-right" style="float: right"></i>
                </label>
                <label class="item" ng-click="clickMenu('nation')" ng-if="getRegion() === 'KR' && package === 'todayWeather'">
                    {{'LOC_NATIONAL_WEATHER'|translate}}
                    <i class="icon ion-chevron-right" style="float: right"></i>
                </label>
                <label class="item" ng-click="clickMenu('nation-air')" ng-if="getRegion() === 'KR'">
                    {{'LOC_NATIONAL_AIR'|translate}}
                    <i class="icon ion-chevron-right" style="float: right"></i>
                </label>
                <label class="item" ng-click="clickMenu('nullschool')" ng-if="getRegion() === 'KR'" >
                    {{'LOC_NULLSCHOOL_WIND'|translate}}
                    <i class="icon ion-chevron-right" style="float: right"></i>
                </label>
                <label class="item" ng-click="clickMenu('units')">
                    {{'LOC_UNITS'|translate}}
                    <i class="icon ion-chevron-right" style="float: right" ng-if="!isAndroid()"></i>
                </label>
                <label class="item" ng-click="settingRadio('startupPage')">
                    {{'LOC_STARTUP_PAGE'|translate}}
                    <span style="float: right">{{getStartupPageValueStr(settingsInfo.startupPage)|translate}}</span>
                </label>
                <label class="item" ng-click="settingRadio('refreshInterval')">
                    {{'LOC_REFRESH_INTERVAL'|translate}}
                    <span style="float: right">{{getRefreshIntervalValueStr(settingsInfo.refreshInterval)|translate}}</span>
                </label>
                <label class="item" ng-click="settingRadio('theme')">
                    {{'LOC_THEME_SETTING'|translate}}
                    <span style="float: right">{{getThemeValueStr(settingsInfo.theme)|translate}}</span>
                </label>
                <label class="item" ng-click="clickMenu('purchase')" ng-if="hasInAppPurchase()">
                    {{'LOC_REMOVE_ADS'|translate}}
                    <i class="icon ion-chevron-right" style="float: right" ng-if="!isAndroid()"></i>
                </label>
                <label class="item" ng-click="clickMenu('sendMail')">
                    {{'LOC_SEND_FEEDBACK'|translate}}
                    <i class="icon ion-chevron-right" style="float: right" ng-if="!isAndroid()"></i>
                </label>
                <label class="item" ng-click="clickMenu('openMarket')">
                    {{'LOC_RATE_THIS_APP'|translate}}
                    <i class="icon ion-chevron-right" style="float: right" ng-if="!isAndroid()"></i>
                </label>
                <label class="item">
                    {{'LOC_VERSION'|translate}}
                    <span style="float: right">{{version}}</span>
                </label>
                <label class="item" ng-click="clickMenu('guide')" ng-if="false">
                    {{'LOC_GUIDE'|translate}}
                    <i class="icon ion-chevron-right" style="float: right" ng-if="!isAndroid()"></i>
                </label>
                <label class="item" ng-click="clickMenu('openInfo')" ng-if="showAbout()">
                    {{'LOC_ABOUT'|translate}}
                    <i class="icon ion-chevron-right" style="float: right" ng-if="!isAndroid()"></i>
                </label>
            </div>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content drag-content="false" ng-class="isMenuOpen() ? 'menu-open' : ''" class="body-content">
        <ion-nav-bar class="bar-clear" style="visibility: hidden"></ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <!-- Right menu -->
    <!--<ion-side-menu side="right"></ion-side-menu>-->
</ion-side-menus>
</body>
</html>
