/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$font-family-base: -apple-system, "Roboto", "Noto", "Helvetica Neue", sans-serif !default;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

[md-page-header] {
  padding: 0;
  //height: auto;
  color: #444;
  background-color: #fff;
  margin: auto;
  //background-position: 50% 50%;
  //background-size: 100%;
  //background-image: initial;

  .main-box {
    width: 80%;
    margin: auto;
    text-align: center;
    .main-box-forecast-content {
      margin: auto;
      font-weight: 300;
      display: inline-flex;
      span {
        vertical-align: super;
      }
    }
    .main-box-air-title {
      margin: auto;
      padding: 0 12px;
      font-size:17px;
      font-weight: 500;
      border-radius: 4px;
      border: 1px solid #444;
      display: inline-flex;;
    }
    .main-box-air-content {
      margin: auto;
      font-size: 64px;
      i, span {
        font-size: 32px;
      }
    }
    .main-box-summary {
      font-size: 21px;
      line-height: 21px;
      i {
        font-size: 24px;
        vertical-align: bottom;
      }
    }
  }
  .main-box-arrow {
    width: 10%;
    padding-bottom: 7%;
    padding-top: 7%;
    margin: auto;
    text-align: center;
  }
}

[md-header-picture] {
  //  position: relative;
  //  width: 100%;
  //  height: 0;
  //  /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
  //  padding-bottom: 56.25%;
  //  overflow: hidden;
  //  background-size: 160%;
  //  /* You can override this value if your picture has a weird ratio */
  background-position: 50% 50%;
}

.main-content {
  color: #000;
  width: 100%;
  .card {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 17px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    margin: 0 0 5px 0;
    padding: 10px 0 10px 0;
    .card-title {
      color: #666666;
      font-size: 15px;
      margin: 0 5px 10px 5px;
    }
    .colgroup-box {
      margin: 0px auto;
      img, i {
        height: 24px;
        vertical-align: middle;
        margin: 0 8px;
      }
      span {
        vertical-align: middle;
      }
      a {
        vertical-align: middle;
        color: #015dc1;
      }
      a:after {
        font-family: "Ionicons";
        content: "ï“";
      }
    }
    .rowgroup-vspacing-box {
      width: 100%;
      table-layout: fixed;
      text-align: left;
      td > div:not(:last-child) {
        padding-bottom: 10px;
      }
      td > div {
        display: flex;
        font-size: 15px;
      }
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
      i {
        margin: 0 0 0 24px;
      }
      img {
        height: 24px;
        margin: auto 8px auto 0;
      }
    }
    .rowgroup-vspacing-aqi-box {
      width: 100%;
      table-layout: fixed;
      text-align: center;
      tr:not(:last-child) td {
        padding-bottom: 10px;
      }
      p {
        font-size: 15px;
        margin: 0 0 5px 0;
      }
      i {
        font-size: 32px;
      }
      div {
        border-right: 1px #666666 solid;
      }
    }
    .rowgroup-hspacing-box {
      width: 100%;
      text-align: center;
      border-collapse: separate;
      border-spacing: 10px 0;
      td {
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 5px 0;
      }
      td.selected {
        background-color: #f4f4f4;
      }
      p {
        font-size: 15px;
        margin: 0 0 5px 0;
      }
      i {
        font-size: 32px;
      }
    }
    .sub-text {
      color: #666666;
      font-size: 13px;
    }
    .chart-header {
      width: 100%;
      text-align: center;
      .day-title-list {
        position: relative;
        height: 14px;
        margin-bottom: 5px;
        .day-title {
          position: absolute;
          top: 0;
          width: 120px;
          background-color: #F5F5F5;
          font-size: 13px;
          font-weight: 400;
        }
      }
      .chart-title {
        width: 100%;
        padding: 2px;
        font-size: 17px;
      }
      .chart-small-title {
        width: 100%;
        padding: 2px;
        font-size: 15px;
      }
    }
    .chart-content {
      width: 100%;
      margin: 0 0 4px;
    }
    .chart-label {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5%;
      position: absolute;
      left: 10px;
      bottom: 0px;
      padding: 5px;
      font-size: 13px;
      .chart-label-today {
        background-color: #ffffff;
        width: 13px;
        height: 13px;
        display: inline-block;
        vertical-align: bottom;
      }
      .chart-label-yesterday {
        background-color: #9E9E9E;
        width: 13px;
        height: 13px;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
  .card-scroll {
    overflow: auto;
    white-space: nowrap;
    .rowgroup-vspacing-box,
    .rowgroup-vspacing-aqi-box,
    .rowgroup-hspacing-box {
      width: auto;
      min-width: 100%;
    }
  }
}

/* air standard table */
.air-std-table {
  margin: 0 4px;
  font-size: 15px;
  .air-label {
    position: relative;
    display: inline-block;
    .outline {
      border-radius: 4px;
      border: 1px solid #444;
      font-weight: 700;
      padding: 0 10px;
    }
    .line {
      max-width: 50%;
      height: 8px;
      border-right: 1px solid #444;
      display: flex;
    }
  }
  .air-std-box {
    display: flex;
    margin-top: -2px;
    .air-std {
      flex-basis: 100%;
      padding: 1px;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;
      border-top: 2px solid #444;
    }
  }
}

/* chart style */
.chart-text {
  fill: #444;
  font-size: 15px;
  text-anchor: middle;
}

.chart-sub-text {
  fill: #444;
  font-size: 13px;
  text-anchor: middle;
  letter-spacing: 0px;
}

.chart-unit-text {
  fill: #444;
  font-size: 10px;
}

.chart-bar {
  fill: #7aa4d1;
}

.guide-line {
  stroke: #d9e5f2;
  stroke-width: 1;
  stroke-opacity: 0.4;
}

.current-rect {
  stroke: #d9e5f2;
  fill: #d9e5f2;
}

.line-today {
  stroke: #7aa4d1;
  stroke-width: 2px;
  fill: none;
}

.line-yesterday {
  stroke: #9e9e9e;
  stroke-width: 1px;
  fill: none;
}

.circle-today {
  stroke: #7aa4d1;
  stroke-width: 1px;
  fill: #7aa4d1;
}

.circle-yesterday {
  stroke: #9e9e9e;
  stroke-width: 1px;
  fill: #9e9e9e;
}

.circle-today-current {
  stroke: #FF5252;
  stroke-width: 2px;
  fill: #FF5252;
}

.circle-yesterday-current {
  stroke: #9e9e9e;
  stroke-width: 2px;
  fill: #9e9e9e;
}

.text-today {
  fill: #ffffff;
  font-size: 15px;
  text-anchor: middle;
}

.text-yesterday {
  fill: #ffffff;
  font-size: 15px;
  text-anchor: middle;
}

.circle-hidden, .text-hidden {
  visibility: hidden;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.x.axis line {
  stroke: #fff;
}

/* tabs */
.tabs {
  color: #000000;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 70%);
  background-color: #FFFFFF;
}

/* header bar */
.title {
  left: 0px !important;
  right: 0px !important;
}

.bar-hidden {
  border: none !important;
  background: none !important;
  color: #fff !important;
}

[nav-bar-transition="android"] .title,
[nav-bar-transition="android"] .buttons {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
  -webkit-transition-property: none;
  transition-property: none;
  opacity: 1;
}

[nav-bar-transition="android"] [nav-bar="leaving"] .search-header,
[nav-bar-transition="android"] [nav-bar="leaving"] .buttons-right {
  display: none;
}

[nav-bar-transition="android"] [nav-bar="entering"] .header-item {
  opacity: 1;
}

.bar.bar-search .forecast-header,
.bar.bar-forecast .search-header,
.bar.bar-search .dailyforecast-header,
.bar.bar-dailyforecast .search-header,
.bar.bar-search .air-header,
.bar.bar-air .search-header {
  display: none !important;
}

.forecast-header > *,
.dailyforecast-header > *,
.air-header > * {
  vertical-align: middle;
}

.forecast-header i,
.dailyforecast-header i,
.air-header i {
  font-size: 100%;
}

.forecast-header svg,
.dailyforecast-header svg,
.air-header svg {
  width: 14px;
  height: 14px;
  stroke: #fff;
  fill: #fff;
}

/* menu */
.menu {
  width: 100% !important;
}

.menu-content {
  -webkit-transform: none !important;
  transform: none !important;
}

.menu-content.menu-open {
  z-index: -1;
}

.menu-content.overflow-scroll {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: auto !important;
}

.menu-content .item-select:after {
  content: none !important;
}

.menu-content select {
  padding-right: 16px;
  background: transparent;
}

.menu-left {
  z-index: auto !important;
  left: -100%;
  -webkit-transition: left 200ms ease;
  transition: left 200ms ease;
}

.menu-left.menu-open {
  left: 0px;
}

.menu-left .menu-content i {
  padding-right: 16px;
  padding-top: 10px;
  position: absolute;
  right: 0;
  color: #333;
  font-size: 14px;
}

/* start page */
.start-content .item-input {
  padding-right: 16px;
  display: flex !important;
  flex: 1 0;
}

.start-content .item-input button {
  min-height: unset;
  line-height: unset;
}

/* search */
.search-header {
  margin-left: 40px !important;
  margin-right: 0px !important;
  padding: 5px 0px 5px 0px;
  background-color: #444;
  background-image: none;
  display: flex !important;
  flex: 1 0;
}

.search-header .icon {
  color: #444;
  padding-right: 6px;
  font-size: 17px;
}

.search-header input {
  background-color: transparent;
  width: 100%;
  font-size: 17px;
  line-height: normal;
}

.search-content {
}

.search-content .button {
  width: 100%;
  border-color: #ddd;
  background-color: #fff;
  font-size: 17px;
}

.search-item {
  margin: auto;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
}

.search-item.search-name {
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-item .material-icons {
  font-size: inherit;
  position: relative;
  top:2px;
  right: 3px;
  letter-spacing: -4px
}

.search-item.last-item {
  width: 48px;
  text-align: center;
  font-size: 28px;
  margin: auto 0;
}

.search-item img {
  display: block;
  margin: auto;
  width: 48px;
}

.search-item a {
  color: #444;
}

.search-item .toggle, .search-item .track {
  width: 100%;
}

.search-item .ion-ios-close-outline:before {
  font-weight: 700;
}

.toggle.toggle-search {
  margin: 0;
}

.toggle.toggle-search .track {
  height: 14px;
  border: 0;
  border-radius: 8px;
  margin: auto 0;
  width: 100%;
  background-color: rgba(158,158,158,0.8);
}

.toggle.toggle-search input:checked + .track {
  background-color: #444;
}

.toggle.toggle-search .track .handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 5px;
  top: auto;
  bottom: auto;
  margin-top: -3px;
  background-color: white;
}

.toggle.toggle-search input:checked + .track .handle {
  background-color: white;
  left: auto;
  right: 25px;
}

.logo-text {
  color: #000000;
  opacity: 0.54;
}

/* guide */
.guide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 55px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.guide-content-head {
  width: 100%;
  margin: 0 0 10px;
  text-align: center;
  color: inherit;
}

.guide-content-text {
  width: 100%;
  margin: 0 0 5px;
  text-align: center;
  color: inherit;
}

.guide-pager {
  width: 100%;
  height: 56px;
  position: absolute;
  bottom: 0;
  border-top: 1px lightgray solid;
  z-index: 2;
}

.guide-pager-left {
  width: 30%;
  padding: 20px 5px;
  float: left;
  text-align: right;
}

.guide-pager-right {
  width: 30%;
  padding: 20px 5px;
  float: right;
  text-align: left;
}

.guide-close {
  font-size: 28px;
  padding: 10px;
  position: absolute;
  right: 0px;
  color: inherit;
}

/* purchase */
.purchase-content {
  background-color: #F5F5F5;
}

/* nation */
.nation {
  position: relative;
  background: no-repeat top;
  text-align: center;
  margin: 2px auto;
}

.nation-bar {
  margin-top: 2px;
}

.nation-bar a {
  padding: 0 4px;
  height: 34px;
  line-height: 32px;
  min-height: 34px;
}

.nation-label {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  position: absolute;
  padding: 0 4px;
  font-size: 20px;
  color: whitesmoke;
}

.nation-label img {
  height: 36px;
  margin: -3px  0 -12px;
}

.nation-label span {
  font-size:12px;
}

/* popup */
.ionic_popup .popup {
  background-color: #ffffff;
  width: 280px;
}

.ionic_popup .popup-head {
  display: none;
}

.ionic_popup .popup-body {
  padding: 0;
}

.ionic_popup .popup-buttons {
  padding: 0;
  min-height: 44px;
  height: 44px;
}

.ionic_popup .popup-buttons .button:not(:last-child) {
  margin-right: 1px;
}

.ionic_popup .button_cancel, .ionic_popup .button_close {
  background-color: #03A9F4;
  color: #ffffff;
}

/* update information popup */
.update_information_popup .popup {
  width: 85%;
  max-width: 600px;
}

.update_information_popup .button {
  padding: 0 1px;
}

.update_information_popup input {
  width: 18px;
  height: 18px;
  margin: 3px 0.5ex;
  vertical-align: bottom;
}

.update_information_popup span {
  font-size: 16px;
}

.update_information_popup .checkbox-text {
  font-size: 18px;
}

/* common */
.pane, .view {
  background-color: transparent;
}

.button {
  font-size: 15px;
  opacity: 0.87;
  font-weight: 700;
}

.item-center {
  display: block;
  margin: auto;
}

//healthy color
.good {
  color: #448AFF;
  opacity: 0.87;
}

.moderate {
  color: #00E676;
  opacity: 0.87;
}

.unhealthy-for-sensitive {
  color: #FFD600;
  opacity: 0.87;
}

.unhealthy {
  color: #FF6D00;
  opacity: 0.87;
}

.very-unhealthy {
  color: #FF1744;
  opacity: 0.87;
}

.hazardous {
  color: #795548;
  opacity: 0.87;
}

.setting-push {
  color: #444;
  font-size: 17px;
  width: 100%;
}

.setting-push .toggle-search {
  width: 48px;
}

.setting-push .card {
  margin: 0 0 9px 0;
}

.setting-push .card .light-padding {
  padding: 8px 16px;
}

.setting-push .push-day-button {
  margin: 4px;
  line-height: 32px;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  color: #444;
  position: relative;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer;
}

.push-day-button.push-activated {
  border-color: #a2a2a2;
  background-color: #e5e5e5;
}

.setting-push .push-type-title {
  border-width: 0;
  padding-bottom: 8px;
}

.setting-push .push-desc {
  font-size: 14px;
  background-color: #f4f4f4;
}

.setting-push button {
  color: white;
}

//iphone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 320/480)
{
  .timeChart {
    width: 1749px; //53px per col * 33
  }

  .weeklyChart {
    width: 954px; //53px per col *18
  }
}

//iphone 5
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 320/568)
{
  .timeChart {
    width: 1749px; //53px per col * 33
  }

  .weeklyChart {
    width: 954px; //53px per col * 18
  }
}

//iphone 6
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 375/667)
{
  .timeChart {
    width: 1749px; //53px per col * 33
  }

  .weeklyChart {
    width: 954px; //53px per col * 18
  }
}

//iphone 6+
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (device-aspect-ratio: 414/736)
{
  .timeChart {
    width: 1947px; // 59px per col * 33
  }

  .weeklyChart {
    width: 1062px; //59px per col * 18
  }
}

/* SS S3, note2*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-min-device-pixel-ratio: 2)
{
}

/* SS Galaxy Note3, S5, S4, S6 */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-min-device-pixel-ratio: 3)
{
}

/* SS Galaxy Note5, G6, .. QHD */
@media screen and (device-width: 412px) and (device-height: 732px) and (device-aspect-ratio: 412/732)
{
  .timeChart {
    width: 1942px; // 58.85px per col * (41-8)
  }

  .weeklyChart {
    width: 1059px; //58.85px per col * 18
  }
}
