/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$calm:                            #22a1db !default; //dashboard color, short forecast
$balanced:                        #0fbe96 !default; //mid forecast
$positive:                        #8dc63f !default; //detail weather
$assertive:                       #ec72a8 !default; //city search
$energized:                       #ea9623 !default; //setting

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

@font-face {
  font-family: "helvetica neue ultralight";
  src: url("../fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvetica neue light";
  src: url("../fonts/HelveticaNeueLTPro-Lt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Barun Gothic UltraLight";
  src: url("../fonts/NanumBarunGothicUltraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Barun Gothic Light";
  src: url("../fonts/NanumBarunGothicLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.scroll {
  height: 100%;
}

.overflow-scroll {
  margin-bottom: 0;
}

.col {
  font-family: "Nanum Barun Gothic UltraLight";
}

.row + .row {
   margin-top: 0;
}

.top-time {
  padding: 5px;
  text-align: left;
  font-family: 'Nanum Barun Gothic Light';
}

.region {
  display: table;
}

.region p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  font-size: 23px;
}

.region-sum {
  display: table;
}

.region-sum p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  font-size: 21px;
}

.big-digit {
  font-family: 'helvetica neue ultralight';
  text-align: right;
  font-size: 86px;
  letter-spacing: -3px;
}

.big-temp-point img {
  width: 14px;
}

.big-temp-sky-state img {
  width: 40px;
}

.timeChart {
  width: 1248px; //52px per col
}

.weeklyChart {
  width: 936px; //52px per col * 18
}

.small-time {
  display: table;
}

.small-time p {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Nanum Barun Gothic Light';
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.small-image {
  display: table;
}

.small-image div {
  display: table-cell;
  vertical-align: middle;
}

.small-image div img {
  width: 24px;
  margin: 0 auto;
  display: block;
}

.small-digit {
  display: table;
}

.small-digit p {
  display: table-cell;
  vertical-align: middle;
  font-family: 'helvetica neue light';
  text-align: center;
  font-size: 15px;
  margin: 0;
}

.guide-content {
  width: 100%;
  height: 100%;
  padding: 13px;
  background-color: #231815;
  opacity: 0.8;
  color: white;
  font-family: "Nanum Barun Gothic UltraLight";
}

.guide-row {
  width: 100%;
  display: table;
  text-align: center;
}

.guide-col {
  width: 50%;
  display: table-cell;
}

.guide-col-left-top {
  text-align: left;
  vertical-align: top;
}

.guide-col-right-top {
  text-align: right;
  vertical-align: top;
}

.guide-col-left-middle {
  text-align: left;
  vertical-align: middle;
}

.guide-col-right-middle {
  text-align: right;
  vertical-align: middle;
}

.guide-img-top {
  width: 30px;
}

.guide-img {
  width: 60px;
}

/* time chart style */
.line-today {
  stroke: #ffffff;
  stroke-width: 2px;
  fill: none;
}

.line-yesterday {
  stroke: #d0d0d0;
  stroke-width: 1px;
  fill: none;
}

.circle-today {
  stroke: #ffffff;
  stroke-width: 1px;
  fill: #ffffff;
}

.circle-yesterday {
  stroke: #d0d0d0;
  stroke-width: 1px;
  fill: #d0d0d0;
}

.circle-today-current {
  stroke: #ffffff;
  stroke-width: 2px;
  fill: #ff0000;
}

.circle-yesterday-current {
  stroke: #d0d0d0;
  stroke-width: 2px;
  fill: #d0d0d0;
}

.text-today {
  fill: #ffffff;
  font-family: 'helvetica neue light';
  font-size: 20px;
}

.text-yesterday {
  fill: #d0d0d0;
  font-family: 'helvetica neue light';
  font-size: 20px;
}

.circle-hidden, .text-hidden {
  visibility: hidden;
}

/* day chart style */
.rect {
  fill: #ffffff;
}

.detail-image {
  display: table;
}

.detail-image div {
  display: table-cell;
  vertical-align: middle;
}

.detail-image div img {
  width: 40px;
  margin: 0 auto;
  display: block;
}

.detail-text {
  display: table;
}

.detail-text p {
  display: table-cell;
  vertical-align: middle;
  font-family: "Nanum Barun Gothic UltraLight";
  padding-top: 10px;
  font-size: 18px;
  padding-left: 5px;
  color: #ffffff;
  margin: 0;
}

.main-content {
  width: 100%;
  height: 100%;
  color: white;
}

.main-content.short-forecast {
  background-color: #22a1db;
}

.main-content.mid-forecast {
  background-color: #0fbe96;
}

.main-content.detail-forecast {
  background-color: #8dc63f;
}

.main-content.search {
  background-color: #ec72a8;
}

.main-content.setting {
  background-color: #ea9623;
}

.current-content {
  height: 25%;
}

.extend-content {
  height: 70%;
}

.chart-content {
  height: 58%;
}

.table-content {
  height: 42%;
}

/* search */
.search-icon {
  background-color: white;
  padding: 0;
  width: 15%;
}

.search-icon img {
  width: 100%;
}

.search-content {
  display: table;
  margin: auto;
  background-color: transparent;
  color: white;
}

.search-content input {
  display: table-cell;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  font-size: 22px;;
}

.search-content img{
  display: table-cell;
  vertical-align: middle;
  width: 90%;
}

.search-content p {
  display: table-cell;
  vertical-align: middle;
  padding-top: 6px;
  padding-left: 4px;
  color: white;
  font-family: "Nanum Barun Gothic UltraLight";
  font-size: 20px;
}

//.city-content {
//  vertical-align: middle;
//  text-align: center;
//  margin: 5px 0px;
//  padding: 0;
//  background-color: transparent;
//  color: white;
//}

//iphone 4
@media only screen and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (device-aspect-ratio: 320/480)
{
  .main-content {
    height: 431px;
  }

  .current-content {
    height: 25%;
  }

  .extend-content {
    height: 70%;
  }

  .region  p {
    font-size: 18px;
  }

  .region-sum p {
    font-size: 17px;
  }

  .big-digit {
    font-size: 62px;
    letter-spacing: -3px;
  }

  .big-temp-point img{
    width: 10px;
  }

  .big-temp-sky-state img{
    width: 32px;
  }

  .timeChart {
    width: 1272px; //53px per col
  }

  .weeklyChart {
    width: 954px; //53px per col *18
  }

  .chart-content {
    height: 55%;
  }

  .table-content {
    height: 45%;
  }

  .small-time p {
    font-size: 13px;
  }

  .small-image div img {
    width: 20px;
  }

  .small-digit p {
    font-size: 14px;
  }
}

//iphone 5
@media only screen and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (device-aspect-ratio: 320/568)
{
  .main-content {
    height: 519px;
  }

  .current-content {
    height: 25%;
  }

  .extend-content {
    height: 68%;
  }

  .region p {
    font-size: 20px;
  }

  .region-sum p {
    font-size: 18px;
  }

  .big-digit {
    font-size: 90px;
    letter-spacing: -2px;
  }

  .big-temp-point img{
    width: 14px;
  }

  .big-temp-sky-state img{
    width: 48px;
  }

  .timeChart {
    width: 1272px; //53px per col
  }

  .weeklyChart {
    width: 954px; //53px per col * 18
  }

  .chart-content {
    height: 60%;
  }

  .table-content {
    height: 40%;
  }

  .small-time p {
    font-size: 14px;
  }

  .small-image div img {
    width: 24px;
  }

  .small-digit p {
    font-size: 15px;
  }
}

//iphone 6
@media only screen and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (device-aspect-ratio: 375/667)
{
  .main-content {
    height: 578px;
  }

  .current-content {
    height: 25%;
  }

  .extend-content {
    height: 68%;
  }

   .region p {
    font-size: 22px;
  }

  .big-digit {
    font-size: 105px;
    letter-spacing: -3px;
  }

  .big-temp-point img{
    width: 14px;
  }

  .big-temp-sky-state img{
    width: 52px;
  }

  .timeChart {
    width: 1272px; //53px per col
  }

  .weeklyChart {
    width: 954px; //53px per col * 18
  }

  .chart-content {
    height: 60%;
  }

  .table-content {
    height: 40%;
  }

  .small-time p {
    font-size: 14px;
  }

  .small-image div img {
    width: 30px;
  }

  .small-digit p {
    font-size: 15px;
  }
}

//iphone 6+
@media only screen and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (device-aspect-ratio: 414/736)
{
  .main-content {
    height: 687px;
  }

  .region p {
    font-size: 28px;
  }

  .region-sum p {
    font-size: 23px;
  }

  .big-digit {
    font-size: 130px;
    letter-spacing: -6px;
  }

  .big-temp-point img{
    width: 18px;
  }

  .big-temp-sky-state img{
    width: 64px;
  }

  .timeChart {
    width: 1416px; // 59px per col
  }

  .weeklyChart {
    width: 1062px; //59px per col * 18
  }

  .small-time p {
    font-size: 15px;
  }

  .small-image div img {
    width: 32px;
  }

  .small-digit p {
    font-size: 16px;
  }

  .search-icon {
    width: 12%;
  }

}

/* SS S3 */
@media screen and (device-width: 320px) and (device-height: 640px)
    and (device-aspect-ratio: 320/640)
{
  .main-content {
    height: 591px;
  }

  .timeChart {
    width: 1272px; //53 px per col
  }

  .weeklyChart {
    width: 954px; //53px per col * 18
  }
}

/* SS Galaxy Note3, S5, S4, S6 */
//It's default
@media screen and (device-width: 360px) and (device-height: 640px)
    and (device-aspect-ratio: 360/640)
{
  .main-content {
    height: 591px;
  }

  .big-digit {
    font-size: 100px;
  }

  .big-temp-point img {
    width: 14px;
  }

  .big-temp-sky-state img {
    width: 52px;
  }
}

//
//.scroll-content {
//  background: url("../img/screen-dash.png");
//  background-size: cover;
//}

.tabs-calm .tabs {
  //background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
  background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
 // border-top:1px solid rgba(255,255,255,0.6);
}

.tabs-dark .tabs {
  //background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
  background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
 // border-top:1px solid rgba(255,255,255,0.6);
}

.tabs-balanced .tabs {
  //background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
  background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
 // border-top:1px solid rgba(255,255,255,0.6);
}

.tabs-energized .tabs {
  //background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
  background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
 // border-top:1px solid rgba(255,255,255,0.6);
}

.tabs-positive .tabs {
  //background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
  background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
 // border-top:1px solid rgba(255,255,255,0.6);
}

.tabs-assertive .tabs {
  //background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
  background-image: linear-gradient(0deg, #ffffff, #ffffff 60%, transparent 60%);
 // border-top:1px solid rgba(255,255,255,0.6);
}

.tabs-dark .tabs {
  background-color: inherit !important;
}
